.Note {
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
}

.Note-content {
  font-family: var(--font-serif);
  font-size: var(--step-1);
  font-weight: 400;
  line-height: var(--line-height-5);
  max-width: 24em;
}

.Note-content a:link {
  color: var(--Note-content-anchor-link-color);
}

.Note-content a:link:hover {
  color: var(--Note-content-anchor-link-onHover-color);
}

.Note-content a:visited {
  color: var(--Note-content-anchor-visited-color);
}

.Note-content a:visited:hover {
  color: var(--Note-content-anchor-visited-onHover-color);
}

.Note-tags {
  font-size: var(--step--2);
  margin-block-end: 0;
  margin-block-start: var(--space-2xs);
  margin-inline-start: var(--space-s);
}

.Note-published {
  color: var(--slate9);
  font-family: var(--font-sans);
  font-size: var(--step--1);
  font-weight: var(--font-weight-4);
  margin-block-end: 0;
  margin-block-start: var(--space-2xs);
}

.Note-publishedLink {
  color: var(--slate9);
  text-decoration: none;
}

.Note-publishedLink:hover {
  text-decoration: underline;
}

@media screen and (min-width:24em) {
  .Note-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Note-published {
    margin-inline-end: var(--space-xs);
  }
}

.Note-content p {
  margin: 0;
}

.Note-content p:not(:first-child) {
  margin: 0.375em 0 0 0;
}

.Note--sizeLarge .Note-content {
  font-size: var(--step-2);
  font-weight: 400;
  line-height: var(--line-height-5);
  max-width: 24em;
}

.Note--sizeLarge .Note-published {
  font-size: var(--step--1);
  font-weight: var(--font-weight-4);
}

.Note--sizeSmall .Note-content {
  font-size: var(--step-0);
  line-height: var(--line-height-5);
  max-width: 32em;
}

.Note--sizeSmall .Note-published {
  font-size: var(--step--2);
  font-weight: var(--font-weight-4);
}
