.Note {
  align-self: center;
}

.Note-nav {
  color: silver;
  font-family: var(--font-sans);
  font-size: var(--step--2);
  font-weight: 800;
  letter-spacing: 0.1em;
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
  text-transform: uppercase;
  -webkit-user-select: none;
}

.Note-nav ol {
  display: flex;
  list-style-type: none;
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
  padding-inline-start: 0;
}

.Note-navItem:not(:first-child) {
  margin-inline-start: 0.5em;
}

.Note-navItem:not(:last-child) {
  margin-inline-end: 0.5em;
}

.Note-nav a:link,
.Note-nav a:visited {
  text-decoration: none !important;
}

.Note-navItem--newer::before {
  content: "\2022\2003";
}

.Note-navItem--newer .Note-navItemContent::after {
  content: "\A0\2192";
}

.Note-navItem--older .Note-navItemContent::before {
  content: "\2190\A0";
}

.Note-article {
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
}

.Note-content {
  font-family: var(--font-serif);
  font-size: var(--step-2);
  font-weight: 400;
  line-height: 1.5;
  max-width: 24em;
}

.Note-footer {
  font-family: var(--font-sans);
  font-size: var(--step-0);
  font-weight: 500;
}

.Note p {
  margin: 0;
}

.Note p:not(:first-child) {
  margin: 0.375em 0 0 0;
}

.Note-tags {
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
}
