.Note {
  align-self: center;
  margin-inline: auto;
}

.Note-nav {
  color: var(--slate9);
  cursor: default;
  font-family: var(--font-sans);
  font-size: var(--step--2);
  font-weight: 800;
  letter-spacing: 0.1em;
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
  text-transform: uppercase;
  -webkit-user-select: none;
}

.Note-nav ol {
  display: flex;
  list-style-type: "";
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
  padding-inline-start: 0;
}

.Note-navItem:not(:first-child) {
  margin-inline-start: 0.5em;
}

.Note-navItem:not(:last-child) {
  margin-inline-end: 0.5em;
}

.Note-navItem--newer::before {
  content: "\2022\2003";
}

.Note-navItem--newer .Note-navItemContent::after {
  content: "\A0\2192";
}

.Note-navItem--older .Note-navItemContent::before {
  content: "\2190\A0";
}

.Note-navItemContent:link,
.Note-navItemContent:visited {
  text-decoration: none !important;
}

.Note-navItemContent:link {
  color: var(--anchor-link-color);
}

.Note-navItemContent:link:hover {
  color: var(--anchor-link-onHover-color);
}

.Note-navItemContent:visited {
  color: var(--anchor-visited-color);
}

.Note-navItemContent:visited:hover {
  color: var(--anchor-visited-onHover-color);
}

.Note-article {
  margin-block-end: var(--space-2xs);
  margin-block-start: var(--space-2xs);
}

.Note-content {
  font-family: var(--font-serif);
  font-size: var(--step-1);
  font-weight: 400;
  line-height: var(--line-height-5);
  max-width: 24em;
}

.Note-content a:link {
  color: var(--Note-content-anchor-link-color);
}

.Note-content a:link:hover {
  color: var(--Note-content-anchor-link-onHover-color);
}

.Note-content a:visited {
  color: var(--Note-content-anchor-visited-color);
}

.Note-content a:visited:hover {
  color: var(--Note-content-anchor-visited-onHover-color);
}

.Note-tags {
  font-size: var(--step--2);
  margin-block-end: 0;
  margin-block-start: var(--space-2xs);
  margin-inline-start: var(--space-s);
}

.Note-published {
  color: var(--slate9);
  font-family: var(--font-sans);
  font-size: var(--step--1);
  font-weight: var(--font-weight-4);
  margin-block-end: 0;
  margin-block-start: var(--space-2xs);
}

.Note-publishedLink {
  color: var(--slate9);
  text-decoration: none;
}

.Note-publishedLink:hover {
  text-decoration: underline;
}

@media screen and (min-width:24em) {
  .Note-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Note-published {
    margin-inline-end: var(--space-xs);
  }
}

.Note-content p {
  margin: 0;
}

.Note-content p:not(:first-child) {
  margin: 0.375em 0 0 0;
}

.Note-article--sizeLarge .Note-content {
  font-size: var(--step-2);
  font-weight: 400;
  line-height: var(--line-height-5);
  max-width: 24em;
}

.Note-article--sizeLarge .Note-published {
  font-size: var(--step--1);
  font-weight: var(--font-weight-4);
}

.Note-article--sizeSmall .Note-content {
  font-size: var(--step-0);
  line-height: var(--line-height-5);
  max-width: 32em;
}

.Note-article--sizeSmall .Note-published {
  font-size: var(--step--2);
  font-weight: var(--font-weight-4);
}
