.Notes {
  align-self: center;
  margin-inline: auto;
}

.Notes-nav {
  margin-block: var(--Notes-nav-marginBlock);
}

.Notes-navContent {
  background-color: var(--Notes-navContent-backgroundColor);
  border-radius: var(--Notes-navContent-borderRadius);
  color: var(--Notes-navContent-color);
  cursor: var(--Notes-navContent-cursor);
  display: var(--Notes-navContent-display);
  font-size: var(--Notes-navContent-fontSize);
  font-weight: var(--Notes-navContent-fontWeight);
  letter-spacing: var(--Notes-navContent-letterSpacing);
  padding-block: var(--Notes-navContent-paddingBlock);
  padding-inline: var(--Notes-navContent-paddingInline);
  text-align: var(--Notes-navContent-textAlign);
}

.Notes-navContent:link,
.Notes-navContent:visited {
  background-color: var(--Notes-navContent-link-backgroundColor);
  color: var(--Notes-navContent-link-color);
  cursor: var(--Notes-navContent-link-cursor);
  text-decoration: var(--Notes-navContent-link-textDecoration);
}

.Notes-navContent:link:hover,
.Notes-navContent:visited:hover {
  background-color: var(--Notes-navContent-link-onHover-backgroundColor);
  color: var(--Notes-navContent-link-onHover-color);
}

.Notes-note + .Notes-note {
  margin-block-start: var(--Notes-note-marginBlockStart);
}
