.Page {
  align-self: center;
  margin-inline: auto;
}

.Page-header {
}

.Page-headerContent {
  font-family: var(--font-serif);
  font-size: var(--step-2);
}

.Page-body {
  font-family: var(--font-serif);
  font-size: var(--step-1);
  font-weight: 300;
  line-height: var(--leading-loose);
  max-width: 32em;
}
