@media screen and (min-width:60em) {

  .Search {
    column-gap: var(--grid-gutter);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: auto 1fr auto;
    row-gap: 0;
    width: 100%;
  }

  .Search-content {
    grid-column-end: 9;
    grid-column-start: 1;
  }

  .Search-aside {
    grid-column-end: 13;
    grid-column-start: 9;
  }

}
