/* root */

:root {
  --anchor-link-color: var(--blue11);
  --anchor-link-onHover-color: var(--blue12);
  --anchor-visited-color: var(--blue8);
  --anchor-visited-onHover-color: var(--blue9);
}

/* Icon */

.Icon {
  --Icon-color: var(--slate9);
}

/* Body */

.Body {
  --Body-backgroundColor: var(--slate1);
  --Body-color: var(--slate12);
}

/* EntryLayout */

.EntryLayout {
  --EntryLayout-title-color: var(--slate8);
  --EntryLayout-title-fontFamily: var(--font-sans);
  --EntryLayout-title-fontSize: var(--step-0);
  --EntryLayout-title-fontStyle: normal;
  --EntryLayout-title-fontWeight: var(--font-weight-6);
}

.EntryLayout-title {
}

/* Header */

.Header {
  --Header-height: var(--space-xl-2xl);
  --Header-name-fontFamily: var(--font-sans);
  --Header-name-fontSize: var(--step--1);
  --Header-name-fontWeight: 600;
  --Header-navListItem-fontFamily: var(--font-sans);
  --Header-navListItem-fontSize: var(--step--1);
  --Header-navListItem-fontWeight: 600;
  --Header-mobileNav-backgroundColor: var(--slate2);
  --Header-mobileNav-boxShadowColor: var(--slate2);
  --Header-mobileNav-color: var(--slate11);
  --Header-mobileNavListItem-boxShadowColor: var(--slate6);
}

/* JournalLayout */

.JournalLayout {
  --JournalLayout-title-color: var(--slate8);
  --JournalLayout-title-fontFamily: var(--font-sans);
  --JournalLayout-title-fontSize: var(--step-0);
  --JournalLayout-title-fontStyle: normal;
  --JournalLayout-title-fontWeight: var(--font-weight-6);
}

/* Note */

.Note {
  --Note-content-anchor-link-color: var(--anchor-link-color);
  --Note-content-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Note-content-anchor-visited-color: var(--anchor-visited-color);
  --Note-content-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);
}

/* NotesLayout */

.NotesLayout {
  --NotesLayout-title-color: var(--slate8);
  --NotesLayout-title-fontFamily: var(--font-sans);
  --NotesLayout-title-fontSize: var(--step-0);
  --NotesLayout-title-fontStyle: normal;
  --NotesLayout-title-fontWeight: var(--font-weight-7);

  --NotesLayout-nav-marginBlock: var(--space-l);
  --NotesLayout-navContent-backgroundColor: var(--slate2);
  --NotesLayout-navContent-borderRadius: var(--space-3xs);
  --NotesLayout-navContent-color: var(--slate9);
  --NotesLayout-navContent-cursor: default;
  --NotesLayout-navContent-display: block;
  --NotesLayout-navContent-fontSize: var(--step--2);
  --NotesLayout-navContent-fontWeight: var(--font-weight-3);
  --NotesLayout-navContent-letterSpacing: var(--letter-spacing-1);
  --NotesLayout-navContent-paddingBlock: var(--space-xs);
  --NotesLayout-navContent-paddingInline: var(--space-s);
  --NotesLayout-navContent-textAlign: center;

  --NotesLayout-navContent-link-backgroundColor: var(--blue2);
  --NotesLayout-navContent-link-color: var(--blue8);
  --NotesLayout-navContent-link-cursor: pointer;
  --NotesLayout-navContent-link-textDecoration: none;

  --NotesLayout-navContent-link-onHover-backgroundColor: var(--blue3);
  --NotesLayout-navContent-link-onHover-color: var(--blue10);

  --NotesLayout-note-marginBlockStart: var(--space-m-l);
}

.Tags {
  --Tags-detailsLink-borderRadius: 0.25em;
}
