/*
 * 1. Necessary until Safari supports the font-variation-settings property in @font-face
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face#browser_compatibility
 */

.ArchiveLayout {
  --ArchiveLayout-title-color: var(--slate-8);
  --ArchiveLayout-title-fontFamily: var(--font-system);
  --ArchiveLayout-title-fontSize: var(--step-0);
  --ArchiveLayout-title-fontStyle: normal;
  --ArchiveLayout-title-fontWeight: var(--font-weight-6);
  --ArchiveLayout-title-marginBlock : var(--space-l);
  --ArchiveLayout-title-marginInline: 0;

  align-self: center;
  margin-inline: auto;
  max-width: 100%;
}

.ArchiveLayout-title {
  color: var(--ArchiveLayout-title-color);
  font-family: var(--ArchiveLayout-title-fontFamily);
  font-size: var(--ArchiveLayout-title-fontSize);
  font-style: var(--ArchiveLayout-title-fontStyle);
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: var(--ArchiveLayout-title-fontWeight);
  margin-block: var(--ArchiveLayout-title-marginBlock);
  margin-inline: var(--ArchiveLayout-title-marginInline);
  position: relative;
}

.ArchiveLayout-article,
.ArchiveLayout-entry,
.ArchiveLayout-note {
  margin-block: var(--space-2xs-xs) 0;
}
