/*
 * 1. Necessary until Safari supports the font-variation-settings property in @font-face
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face#browser_compatibility
 */

.Archive {
  font-family: var(--font-serif);
  font-size: var(--step-2);
  font-weight: 400;
  line-height: var(--line-height-4);
  max-width: 32em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Archive-link {
  color: inherit;
  text-decoration: none;
}

.Archive-publishedDate {
  color: var(--slate-8);
  display: inline;
  font-family: var(--font-grotesque);
  font-size: var(--step-1);
  font-weight: inherit;
  margin-inline-end: var(--space-3xs-2xs);
}

.Archive-title {
  display: inline;
  font-size: inherit;
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: inherit;
  margin-block: 0;
}
