.ArchivesLayout {
  --ArchivesLayout-content-color: var(--TextStyle01-color);
  --ArchivesLayout-content-fontFamily: var(--TextStyle01-fontFamily);
  --ArchivesLayout-content-fontSize: var(--TextStyle01-fontSize);

  align-self: center;
  margin-inline: auto;
  /* max-width: 100%; */
}

.ArchivesLayout-content {
  color: var(--ArchivesLayout-content-color);
  font-family: var(--ArchivesLayout-content-fontFamily);
  font-size: var(--ArchivesLayout-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  /* margin-block: var(--space-xs-s) 0; */
}

.ArchivesLayout-years {
  list-style-type: none;;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.ArchivesLayout-year + .ArchivesLayout-year {
  margin-block: var(--space-m-l) 0;
}

.ArchivesLayout-yearHeader {
  color: var(--slate-7);
  font-family: var(--font-grotesque);
  font-size: var(--step-1);
  font-weight: var(--font-weight-9);
  line-height: var(--line-height-5);
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  text-transform: uppercase;
}

.ArchivesLayout-tags {
  margin-block: var(--space-4xs-3xs) 0;
}

.ArchivesLayout-months {
  column-gap: var(--space-xs);
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  row-gap: var(--space-s);
}

@media only screen and (min-width: 640px) {
  .ArchivesLayout-months {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 960px) {
  .ArchivesLayout-months {
    grid-template-columns: repeat(12, 1fr);
  }
}

.ArchivesLayout-month {
  color: var(--TextStyle07-color);
  font-family: var(--font-grotesque);
  font-size: var(--step--1);
  font-weight: var(--font-weight-7);
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  text-transform: uppercase;
}

.ArchivesLayout-month *:link,
.ArchivesLayout-month *:visited {
  aspect-ratio: 1 / 1;
  background-color: var(--color-background-muted);
  border-radius: var(--space-4xs-3xs);
  color: var(--color-link-inherit);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.ArchivesLayout-month *:link:hover,
.ArchivesLayout-month *:link:focus,
.ArchivesLayout-month *:visited:hover,
.ArchivesLayout-month *:visited:focus {
  background-color: var(--color-background-muted-onHover);
  color: var(--color-link-inherit-onHover);
}
