.ArchivesLayout {
  --ArchivesLayout-content-color: var(--TextStyle01-color);
  --ArchivesLayout-content-fontFamily: var(--TextStyle01-fontFamily);
  --ArchivesLayout-content-fontSize: var(--TextStyle01-fontSize);

  align-self: center;
  margin-inline: auto;
  /* max-width: 100%; */
}

.ArchivesLayout-content {
  color: var(--ArchivesLayout-content-color);
  font-family: var(--ArchivesLayout-content-fontFamily);
  font-size: var(--ArchivesLayout-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  /* margin-block: var(--space-xs-s) 0; */
}

.ArchivesLayout-years {
  list-style-type: none;;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.ArchivesLayout-year + .ArchivesLayout-year {
  margin-block: var(--space-m-l) 0;
}

.ArchivesLayout-yearHeader {
  color: var(--slate-7);
  font-family: var(--font-grotesque);
  font-size: var(--step-1);
  font-weight: var(--font-weight-9);
  line-height: var(--line-height-5);
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  text-transform: uppercase;
}

.ArchivesLayout-tags {
  margin-block: var(--space-4xs-3xs) 0;
}

.ArchivesLayout-months {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-xs-s);
  list-style-type: none;;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

.ArchivesLayout-month {
  color: var(--slate-11);
  font-family: var(--font-grotesque);
  font-size: var(--step-2);
  font-weight: var(--font-weight-7);
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  text-transform: uppercase;
}

.ArchivesLayout-month *:link,
.ArchivesLayout-month *:visited {
  color: inherit;
  text-decoration: none;
}

.ArchivesLayout-month *:link:hover,
.ArchivesLayout-month *:link:focus,
.ArchivesLayout-month *:visited:hover,
.ArchivesLayout-month *:visited:focus {
  color: var(--blue-9);
}
