.Entry {
}

.Entry-header {
}

.Entry-published {
  color: var(--Entry-published-color);
  font-family: var(--Entry-published-fontFamily);
  font-size: var(--Entry-published-fontSize);
  font-weight: var(--Entry-published-fontWeight);
  margin-block: var(--Entry-published-marginBlock);
  white-space: nowrap;
}

.Entry-publishedLink {
  color: var(--Entry-publishedLink-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Entry-publishedLink:hover {
  color: var(--Entry-publishedLink-onHover-color);
}

.Entry-title {
  font-family: var(--font-serif);
  font-size: var(--Entry-title-fontSize);
  font-weight: var(--font-weight-4);
  letter-spacing: -0.04em;
  line-height: var(--line-height-1);
  margin-block: var(--space-2xs-xs) 0;
  max-width: var(--Entry-title-maxWidth);
  text-wrap: balance;
}

.Entry-titleLink:link,
.Entry-titleLink:visited {
  color: inherit;
  text-decoration: none;
}

.Entry-titleLink:link:hover,
.Entry-titleLink:link:focus,
.Entry-titleLink:visited:hover,
.Entry-titleLink:visited:focus {
  color: var(--Entry-title-anchor-link-onHover-color);
}

.Entry-content {
  hanging-punctuation: first allow-end last;
}

.Entry-description p {
  font-weight: var(--font-weight-4) !important;
}

.Entry-content p {
  font-family: var(--Entry-content-fontFamily);
  font-size: var(--Entry-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  margin-block: var(--space-xs-s) 0;
  max-width: var(--Entry-content-maxWidth);
}

/* .Entry-content p:first-child::first-line, */
.Entry-content h2 {
  color: var(--slate-12);
  font-family: var(--font-grotesque);
  font-optical-sizing: auto;
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 500;
  font-variation-settings: "wdth" 75;
  margin-block: var(--space-l) 0;
  text-transform: uppercase;
}

.Entry-content img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width:32em) {
  .Entry-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Entry-published {
    margin-inline: 0 var(--space-xs);
  }
}

.Entry-tags {
  font-size: var(--Entry-tags-fontSize);
  line-height: var(--Entry-tags-lineHeight);
  margin-block: var(--Entry-tags-marginBlock);
  max-width: var(--Entry-tags-maxWidth);
}

.Entry--sizeSmall .Entry-published {
  font-size: var(--Entry--sizeSmall-published-fontSize);
  font-weight: var(--Entry--sizeSmall-published-fontWeight);
}

.Entry--sizeSmall .Entry-title {
  font-size: var(--Entry--sizeSmall-title-fontSize);
  max-width: var(--Entry--sizeSmall-title-maxWidth);
}

.Entry--sizeSmall .Entry-content p {
  font-size: var(--Entry--sizeSmall-content-fontSize);
  max-width: var(--Entry--sizeSmall-content-maxWidth);
}

.Entry--sizeLarge .Entry-published {
  font-size: var(--Entry--sizeLarge-published-fontSize);
  font-weight: var(--Entry--sizeLarge-published-fontWeight);
}

.Entry--sizeLarge .Entry-title {
  font-size: var(--Entry--sizeLarge-title-fontSize);
  max-width: var(--Entry--sizeLarge-title-maxWidth);
}

.Entry--sizeLarge .Entry-content p {
  font-size: var(--Entry--sizeLarge-content-fontSize);
  max-width: var(--Entry--sizeLarge-content-maxWidth);
}
