.Entry {
  --Entry--sizeLarge-content-fontSize: var(--step-1);
  --Entry--sizeLarge-content-maxWidth: 40em;
  --Entry--sizeLarge-publishedFooter-fontSize: var(--step--1);
  --Entry--sizeLarge-publishedFooter-fontWeight: var(--font-weight-3);
  --Entry--sizeLarge-publishedHeader-fontSize: var(--step-1);
  --Entry--sizeLarge-publishedHeader-fontWeight: var(--font-weight-9);
  --Entry--sizeLarge-title-fontSize: var(--step-5);
  --Entry--sizeLarge-title-maxWidth: 20em;
  --Entry--sizeSmall-content-fontSize: var(--step-0);
  --Entry--sizeSmall-content-maxWidth: 40em;
  --Entry--sizeSmall-publishedFooter-fontSize: var(--step--2);
  --Entry--sizeSmall-publishedFooter-fontWeight: var(--font-weight-3);
  --Entry--sizeSmall-publishedHeader-fontSize: var(--step--2);
  --Entry--sizeSmall-publishedHeader-fontWeight: var(--font-weight-3);
  --Entry--sizeSmall-title-fontSize: var(--step-3);
  --Entry--sizeSmall-title-maxWidth: 20em;
  --Entry-content-anchor-link-color: var(--anchor-link-color);
  --Entry-content-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Entry-content-anchor-visited-color: var(--anchor-visited-color);
  --Entry-content-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);
  --Entry-content-color: var(--TextStyle05-color);
  --Entry-content-fontFamily: var(--TextStyle05-fontFamily);
  --Entry-content-fontSize: var(--TextStyle05-fontSize);
  --Entry-content-fontWeight: var(--TextStyle05-fontWeight);
  --Entry-content-h2-color: var(--TextStyle04-color);
  --Entry-content-h2-fontFamily: var(--TextStyle04-fontFamily);
  --Entry-content-h2-fontSize: var(--TextStyle04-fontSize);
  --Entry-content-h2-fontWeight: var(--TextStyle04-fontWeight);
  --Entry-content-h2-lineHeight: var(--TextStyle04-lineHeight);
  --Entry-content-iframe-borderRadius: var(--space-3xs);
  --Entry-content-img-borderRadius: var(--space-3xs);
  --Entry-content-lineHeight: var(--TextStyle05-lineHeight);
  --Entry-content-liteYoutube-borderRadius: var(--space-3xs);
  --Entry-content-maxWidth: 40em;
  --Entry-continue-link-borderColor: var(--slate-6);
  --Entry-continue-link-borderRadius: var(--space-3xs);
  --Entry-continue-link-borderStyle: solid;
  --Entry-continue-link-borderWidth: 1px;
  --Entry-continue-link-color: var(--anchor-link-color);
  --Entry-continue-link-fontFamily: var(--font-grotesque);
  --Entry-continue-link-fontSize: var(--step--2);
  --Entry-continue-link-fontWeight: var(--font-weight-6);
  --Entry-continue-link-letterSpacing: 0.05em;
  --Entry-continue-link-borderColor: var(--blue-6);
  --Entry-continue-link-color: var(--anchor-link-color);
  --Entry-continue-link-onHover-borderColor: var(--blue-7);
  --Entry-continue-link-onHover-color: var(--anchor-link-onHover-color);
  --Entry-continue-link-padding: var(--space-3xs) var(--space-2xs);
  --Entry-continue-link-textDecoration: none;
  --Entry-continue-link-textTransform: uppercase;
  --Entry-continue-margin: var(--space-s);
  --Entry-footer-marginBlock: var(--space-2xs) 0;
  --Entry-published-color: var(--TextStyle06-color);
  --Entry-published-fontFamily: var(--TextStyle06-fontFamily);
  --Entry-published-link-color: var(--TextStyle06-link-color);
  --Entry-published-link-onHover-color: var(--TextStyle06-link-onHover-color);
  --Entry-published-marginBlock: var(--Entry-footer-marginBlock);
  --Entry-publishedFooter-fontSize: var(--step--2);
  --Entry-publishedFooter-fontWeight: var(--font-weight-3);
  --Entry-publishedHeader-fontSize: var(--step--2);
  --Entry-publishedHeader-fontWeight: var(--font-weight-3);
  --Entry-tags-fontSize: var(--step--2);
  --Entry-tags-lineHeight: var(--line-height-1);
  --Entry-tags-marginBlock: var(--space-2xs) 0;
  --Entry-tags-maxWidth: 40em;
  --Entry-title-link-onHover-color: var(--TextStyle02-link-onHover-color);
  --Entry-title-color: var(--TextStyle02-color);
  --Entry-title-fontFamily: var(--TextStyle02-fontFamily);
  --Entry-title-fontSize: var(--TextStyle02-fontSize);
  --Entry-title-link-color: var(--TextStyle02-link-color);
  --Entry-title-maxWidth: 20em;
}

.Entry-header {
}

.Entry-published {
  color: var(--Entry-published-color);
  font-family: var(--Entry-published-fontFamily);
  font-variant-numeric: oldstyle-nums;
  margin-block: var(--Entry-published-marginBlock);
  white-space: nowrap;
}

.Entry-header .Entry-published {
  font-size: var(--Entry-publishedHeader-fontSize);
  font-weight: var(--Entry-publishedHeader-fontWeight);
}

.Entry-footer .Entry-published {
  font-size: var(--Entry-publishedFooter-fontSize);
  font-weight: var(--Entry-publishedFooter-fontWeight);
}

.Entry-published *:link,
.Entry-published *:visited {
  color: var(--Entry-published-link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Entry-published *:link:hover,
.Entry-published *:visited:hover {
  color: var(--Entry-published-link-onHover-color);
}

.Entry-title {
  color: var(--Entry-title-color);
  font-family: var(--Entry-title-fontFamily);
  font-size: var(--Entry-title-fontSize);
  font-weight: var(--font-weight-4);
  letter-spacing: -0.04em;
  line-height: var(--line-height-1);
  margin-block: var(--space-2xs-xs) 0;
  max-width: var(--Entry-title-maxWidth);
  text-wrap: balance;
}

.Entry-title *:link,
.Entry-title *:visited {
  color: var(--Article-title-link-color);
  text-decoration: none;
}

.Entry-title *:link:hover,
.Entry-title *:link:focus,
.Entry-title *:visited:hover,
.Entry-title *:visited:focus {
  color: var(--Entry-title-link-onHover-color);
}

.Entry-content {
  color: var(--Entry-content-color);
  font-family: var(--Entry-content-fontFamily);
  font-size: var(--Entry-content-fontSize);
  font-weight: var(--Entry-content-fontWeight);
  hanging-punctuation: first allow-end last;
  line-height: var(--Entry-content-lineHeight);
  max-width: var(--Entry-content-maxWidth);
}

.Entry-content a:link,
.Entry-content a:visited {
  font-weight: 400;
  text-decoration-skip-ink: all;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.1em;
}

.Entry-content ol {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-block: var(--space-xs-s) 0;
  padding-inline: var(--space-s-m) var(--space-l-xl);
}

.Entry-content ul {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-block: var(--space-xs-s) 0;
  padding-inline: var(--space-s-m) var(--space-l-xl);
}

.Entry-content li {
  margin-block: var(--space-3xs-2xs);
}

.Entry-description p {
  font-weight: var(--font-weight-4) !important;
  text-wrap: pretty;
}

.Entry-content p {
  font-family: var(--Entry-content-fontFamily);
  font-size: var(--Entry-content-fontSize);
  font-weight: var(--Entry-content-fontWeight);
  line-height: var(--Entry-content-lineHeight);
  margin-block: var(--space-xs-s) 0;
  max-width: var(--Entry-content-maxWidth);
}

/* .Entry-content p:first-child::first-line, */
.Entry-content h2 {
  color: var(--Entry-content-h2-color);
  font-family: var(--Entry-content-h2-fontFamily);
  font-optical-sizing: auto;
  font-size: var(--Entry-content-h2-fontSize);
  font-style: normal;
  font-weight: var(--Entry-content-h2-fontWeight);
  font-variation-settings: "wdth" 75;
  line-height: var(--Entry-content-h2-lineHeight);
  margin-block: var(--space-l) 0;
  text-transform: uppercase;
}

.Entry-content figure {
  display: block;
  margin-block: var(--space-s-m) 0;
  margin-inline: 0;
}

.Entry-content figcaption {
  font-size: var(--step-0);
  font-style: italic;
  margin-block: var(--space-3xs-2xs) 0;
  padding-inline: 0;
}

.Entry-content iframe[src^="https://www.youtube-nocookie.com/embed/"] {
  aspect-ratio: 16 / 9;
  block-size: auto;
  border-radius: var(--Entry-content-iframe-borderRadius);
  inline-size: 100%;
}

.Entry-content figure {
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
  margin-inline: 0;
}

.Entry-content figcaption:not(:empty) {
  font-size: var(--step--1);
  font-style: italic;
  margin-block-start: var(--space-3xs-2xs);
}

.Entry-content img {
  border-radius: var(--Entry-content-img-borderRadius);
  display: block;
  max-width: 100%;
}

.Entry-content :is(lite-vimeo, lite-youtube) {
  border-radius: var(--Entry-content-liteYoutube-borderRadius);
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
}

.Entry-content:has(.Entry-continue) > *:nth-last-child(2) {
  background-clip: text;
  background-image: linear-gradient(to top, transparent 0, var(--Entry-content-color) calc(3 * var(--Entry-content-fontSize) * var(--Entry-content-lineHeight)), var(--Entry-content-color) 100%);
  -webkit-text-fill-color: transparent;
}

.Entry-content div:has(.Entry-continue) {
  margin-block: var(--space-xs-s) var(--space-3xs-2xs);
}

.Entry-continue {
  margin-block: var(--Entry-continue-margin);
}

.Entry-continue *:link,
.Entry-continue *:visited {
  border-color: var(--Entry-continue-link-borderColor);
  border-radius: var(--Entry-continue-link-borderRadius);
  border-style: var(--Entry-continue-link-borderStyle);
  border-width: var(--Entry-continue-link-borderWidth);
  color: var(--Entry-continue-link-color);
  font-family: var(--Entry-continue-link-fontFamily);
  font-size: var(--Entry-continue-link-fontSize);
  font-weight: var(--Entry-continue-link-fontWeight);
  letter-spacing: var(--Entry-continue-link-letterSpacing);
  padding: var(--Entry-continue-link-padding);
  text-decoration: var(--Entry-continue-link-textDecoration);
  text-transform: var(--Entry-continue-link-textTransform);
}

.Entry-continue *:link:hover,
.Entry-continue *:visited:hover {
  border-color: var(--Entry-continue-link-onHover-borderColor);
  color: var(--Entry-continue-link-onHover-color);
}

@media screen and (min-width:32em) {
  .Entry-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Entry-published {
    margin-inline: 0 var(--space-xs);
  }
}

.Entry-tags {
  font-size: var(--Entry-tags-fontSize);
  line-height: var(--Entry-tags-lineHeight);
  margin-block: var(--Entry-tags-marginBlock);
  max-width: var(--Entry-tags-maxWidth);
}

.Entry--sizeSmall .Entry-header .Entry-published {
  font-size: var(--Entry--sizeSmall-publishedHeader-fontSize);
  font-weight: var(--Entry--sizeSmall-publishedHeader-fontWeight);
}

.Entry--sizeSmall .Entry-footer .Entry-published {
  font-size: var(--Entry--sizeSmall-publishedFooter-fontSize);
  font-weight: var(--Entry--sizeSmall-publishedFooter-fontWeight);
}

.Entry--sizeSmall .Entry-title {
  font-size: var(--Entry--sizeSmall-title-fontSize);
  max-width: var(--Entry--sizeSmall-title-maxWidth);
}

.Entry--sizeSmall .Entry-content {
  font-size: var(--Entry--sizeSmall-content-fontSize);
  max-width: var(--Entry--sizeSmall-content-maxWidth);
}

.Entry--sizeSmall .Entry-content p {
  font-size: var(--Entry--sizeSmall-content-fontSize);
  max-width: var(--Entry--sizeSmall-content-maxWidth);
}

.Entry--sizeLarge .Entry-header .Entry-published {
  font-size: var(--Entry--sizeLarge-publishedHeader-fontSize);
  font-weight: var(--Entry--sizeLarge-publishedHeader-fontWeight);
}

.Entry--sizeLarge .Entry-footer .Entry-published {
  font-size: var(--Entry--sizeLarge-publishedFooter-fontSize);
  font-weight: var(--Entry--sizeLarge-publishedFooter-fontWeight);
}

.Entry--sizeLarge .Entry-title {
  font-size: var(--Entry--sizeLarge-title-fontSize);
  max-width: var(--Entry--sizeLarge-title-maxWidth);
}

.Entry--sizeLarge .Entry-content {
  font-size: var(--Entry--sizeLarge-content-fontSize);
  max-width: var(--Entry--sizeLarge-content-maxWidth);
}

.Entry--sizeLarge .Entry-content p {
  font-size: var(--Entry--sizeLarge-content-fontSize);
  max-width: var(--Entry--sizeLarge-content-maxWidth);
}
