:root {
  --Entry-published-color: var(--slate-9);
  --Entry-published-fontFamily: var(--font-system);
  --Entry-published-fontSize: var(--step--1);
  --Entry-published-fontWeight: var(--font-weight-4);
  --Entry-published-marginBlock: 0;
  --Entry-publishedLink-color: var(--slate-9);
  --Entry-publishedLink-onHover-color: var(--slate-11);

  --Entry--sizeSmall-published-fontSize: var(--step--1);
  --Entry--sizeSmall-published-fontWeight: var(--font-weight-4);
  --Entry--sizeLarge-published-fontSize: var(--step--1);
  --Entry--sizeLarge-published-fontWeight: var(--font-weight-4);

  --Entry-title-fontSize: var(--step-3);
  --Entry-title-maxWidth: 20em;

  --Entry--sizeSmall-title-fontSize: var(--step-3);
  --Entry--sizeSmall-title-maxWidth: 20em;
  --Entry--sizeLarge-title-fontSize: var(--step-5);
  --Entry--sizeLarge-title-maxWidth: 20em;

  --Entry-content-fontFamily: var(--font-serif);
  --Entry-content-fontSize: var(--step-0);
  --Entry-content-maxWidth: 40em;

  --Entry--sizeSmall-content-fontSize: var(--step-0);
  --Entry--sizeSmall-content-maxWidth: 40em;
  --Entry--sizeLarge-content-fontSize: var(--step-1);
  --Entry--sizeLarge-content-maxWidth: 40em;

  --Entry-tags-fontSize: var(--step--2);
  --Entry-tags-lineHeight: var(--line-height-1);
  --Entry-tags-marginBlock: var(--space-2xs) 0;
  --Entry-tags-maxWidth: 40em;

}

.Entry {
}

.Entry-header {
}

.Entry-published {
  color: var(--Entry-published-color);
  font-family: var(--Entry-published-fontFamily);
  font-size: var(--Entry-published-fontSize);
  font-weight: var(--Entry-published-fontWeight);
  margin-block: var(--Entry-published-marginBlock);
  white-space: nowrap;
}

.Entry-publishedLink {
  color: var(--Entry-publishedLink-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Entry-publishedLink:hover {
  color: var(--Entry-publishedLink-onHover-color);
}

.Entry-title {
  font-family: var(--font-serif);
  font-size: var(--Entry-title-fontSize);
  font-weight: var(--font-weight-4);
  letter-spacing: -0.04em;
  line-height: var(--line-height-1);
  margin-block: var(--space-2xs-xs) 0;
  max-width: var(--Entry-title-maxWidth);
  text-wrap: balance;
}

.Entry-title a:link,
.Entry-title a:visited {
  color: inherit;
  text-decoration: none;
}

.Entry-content {
  hanging-punctuation: first allow-end last;
}

.Entry-content p {
  font-family: var(--Entry-content-fontFamily);
  font-size: var(--Entry-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  margin-block: var(--space-xs-s) 0;
  max-width: var(--Entry-content-maxWidth);
}

/* .Entry-content p:first-child::first-line, */
.Entry-content h2 {
  color: var(--slate-12);
  font-family: var(--font-grotesque);
  font-optical-sizing: auto;
  font-size: var(--step-2);
  font-style: normal;
  font-weight: 500;
  font-variation-settings: "wdth" 75;
  margin-block: var(--space-l) 0;
  text-transform: uppercase;
}

.Entry-content img {
  display: block;
  max-width: 100%;
}

.Entry-tags {
  font-size: var(--Entry-tags-fontSize);
  line-height: var(--Entry-tags-lineHeight);
  margin-block: var(--Entry-tags-marginBlock);
  max-width: var(--Entry-tags-maxWidth);
}

.Entry--sizeSmall .Entry-published {
  font-size: var(--Entry--sizeSmall-published-fontSize);
  font-weight: var(--Entry--sizeSmall-published-fontWeight);
}

.Entry--sizeSmall .Entry-title {
  font-size: var(--Entry--sizeSmall-title-fontSize);
  max-width: var(--Entry--sizeSmall-title-maxWidth);
}

.Entry--sizeSmall .Entry-content p {
  font-size: var(--Entry--sizeSmall-content-fontSize);
  max-width: var(--Entry--sizeSmall-content-maxWidth);
}

.Entry--sizeLarge .Entry-published {
  font-size: var(--Entry--sizeLarge-published-fontSize);
  font-weight: var(--Entry--sizeLarge-published-fontWeight);
}

.Entry--sizeLarge .Entry-title {
  font-size: var(--Entry--sizeLarge-title-fontSize);
  max-width: var(--Entry--sizeLarge-title-maxWidth);
}

.Entry--sizeLarge .Entry-content p {
  font-size: var(--Entry--sizeLarge-content-fontSize);
  max-width: var(--Entry--sizeLarge-content-maxWidth);
}
