.EntryLayout {
  align-self: center;
  margin-block: var(--space-m-l);
  margin-inline: auto;
}

.EntryLayout-title {
  color: var(--EntryLayout-title-color);
  font-family: var(--EntryLayout-title-fontFamily);
  font-size: var(--EntryLayout-title-fontSize);
  font-style: var(--EntryLayout-title-fontStyle);
  font-weight: var(--EntryLayout-title-fontWeight);
  margin-block: var(--EntryLayout-title-marginBlock);
  margin-inline: var(--EntryLayout-title-marginInline);
}
