/*
 * 1. Necessary until Safari supports the font-variation-settings property in @font-face
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face#browser_compatibility
 */

.JournalLayout {
  --JournalLayout-content-color: var(--TextStyle01-color);
  --JournalLayout-content-fontFamily: var(--TextStyle01-fontFamily);
  --JournalLayout-content-fontSize: var(--TextStyle01-fontSize);
  --JournalLayout-entry-marginBlock: var(--space-m-l) 0;
  --JournalLayout-nav-marginBlock: var(--space-l-xl) 0;
  --JournalLayout-navContent-backgroundColor: var(--slate-3);
  --JournalLayout-navContent-borderRadius: 0.25em;
  --JournalLayout-navContent-color: var(--slate-10);
  --JournalLayout-navContent-cursor: default;
  --JournalLayout-navContent-display: block;
  --JournalLayout-navContent-fontSize: var(--step--2);
  --JournalLayout-navContent-fontWeight: var(--font-weight-4);
  --JournalLayout-navContent-letterSpacing: var(--letter-spacing-1);
  --JournalLayout-navContent-link-backgroundColor: var(--blue-3);
  --JournalLayout-navContent-link-color: var(--blue-10);
  --JournalLayout-navContent-link-cursor: pointer;
  --JournalLayout-navContent-link-onHover-backgroundColor: var(--blue-3);
  --JournalLayout-navContent-link-onHover-color: var(--blue-10);
  --JournalLayout-navContent-link-textDecoration: none;
  --JournalLayout-navContent-paddingBlock: var(--space-xs);
  --JournalLayout-navContent-paddingInline: var(--space-s);
  --JournalLayout-navContent-textAlign: center;
  --JournalLayout-title-color: var(--slate-8);
  --JournalLayout-title-fontFamily: var(--font-system);
  --JournalLayout-title-fontSize: var(--step-0);
  --JournalLayout-title-fontStyle: normal;
  --JournalLayout-title-fontWeight: var(--font-weight-6);
  --JournalLayout-title-fontWeight: var(--font-weight-7);
  --JournalLayout-title-marginBlock : var(--space-l) 0;
  --JournalLayout-title-marginBlock: var(--space-l) 0;
  --JournalLayout-title-marginInline: 0;

  align-self: center;
  margin-inline: auto;
}

.JournalLayout-title {
  color: var(--JournalLayout-title-color);
  font-family: var(--JournalLayout-title-fontFamily);
  font-size: var(--JournalLayout-title-fontSize);
  font-style: var(--JournalLayout-title-fontStyle);
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: var(--JournalLayout-title-fontWeight);
  margin-block: var(--JournalLayout-title-marginBlock);
  margin-inline: var(--JournalLayout-title-marginInline);
}

.JournalLayout-content {
  color: var(--JournalLayout-content-color);
  font-family: var(--JournalLayout-content-fontFamily);
  font-size: var(--JournalLayout-content-fontSize);
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  max-width: 32em;
}

.JournalLayout-nav {
  margin-block: var(--JournalLayout-nav-marginBlock);
}

.JournalLayout-navContent {
  background-color: var(--JournalLayout-navContent-backgroundColor);
  border-radius: var(--JournalLayout-navContent-borderRadius);
  color: var(--JournalLayout-navContent-color);
  cursor: var(--JournalLayout-navContent-cursor);
  display: var(--JournalLayout-navContent-display);
  font-size: var(--JournalLayout-navContent-fontSize);
  font-weight: var(--JournalLayout-navContent-fontWeight);
  letter-spacing: var(--JournalLayout-navContent-letterSpacing);
  padding-block: var(--JournalLayout-navContent-paddingBlock);
  padding-inline: var(--JournalLayout-navContent-paddingInline);
  text-align: var(--JournalLayout-navContent-textAlign);
}

.JournalLayout-navContent:link,
.JournalLayout-navContent:visited {
  background-color: var(--JournalLayout-navContent-link-backgroundColor);
  color: var(--JournalLayout-navContent-link-color);
  cursor: var(--JournalLayout-navContent-link-cursor);
  text-decoration: var(--JournalLayout-navContent-link-textDecoration);
}

.JournalLayout-navContent:link:hover,
.JournalLayout-navContent:visited:hover {
  background-color: var(--JournalLayout-navContent-link-onHover-backgroundColor);
  color: var(--JournalLayout-navContent-link-onHover-color);
}

.JournalLayout-entry {
  margin-block: var(--JournalLayout-entry-marginBlock);
}
