.Note {
  --Note--sizeLarge-content-fontSize: var(--step-2);
  --Note--sizeLarge-content-maxWidth: 24em;
  --Note--sizeLarge-published-fontSize: var(--step--1);
  --Note--sizeLarge-published-fontWeight: var(--font-weight-3);
  --Note--sizeLarge-tags-fontSize: var(--step--1);
  --Note--sizeSmall-content-fontSize: var(--step--1);
  --Note--sizeSmall-content-maxWidth: 24em;
  --Note--sizeSmall-published-fontSize: var(--step--2);
  --Note--sizeSmall-published-fontWeight: var(--font-weight-3);
  --Note--sizeSmall-tags-fontSize: var(--step--2);
  --Note-content-anchor-link-color: var(--anchor-link-color);
  --Note-content-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Note-content-anchor-visited-color: var(--anchor-visited-color);
  --Note-content-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);
  --Note-content-color: var(--TextStyle05-color);
  --Note-content-fontFamily: var(--TextStyle05-fontFamily);
  --Note-content-fontSize: var(--TextStyle05-fontSize);
  --Note-content-fontWeight: var(--TextStyle05-fontWeight);
  --Note-content-img-borderRadius: var(--space-3xs);
  --Note-content-lineHeight: var(--TextStyle05-lineHeight);
  --Note-content-liteYoutube-borderRadius: var(--space-3xs);
  --Note-content-maxWidth: 32em;
  --Note-footer-marginBlock: var(--space-2xs) 0;
  --Note-published-color: var(--TextStyle06-color);
  --Note-published-fontFamily: var(--TextStyle06-fontFamily);
  --Note-published-fontSize: var(--TextStyle06-fontSize);
  --Note-published-fontWeight: var(--TextStyle06-fontWeight);
  --Note-published-link-color: var(--TextStyle06-link-color);
  --Note-published-link-onHover-color: var(--TextStyle06-link-onHover-color);
  --Note-published-marginBlock: var(--Note-footer-marginBlock);
  --Note-tags-fontSize: var(--step--2);
  --Note-tags-lineHeight: var(--line-height-1);
  --Note-tags-marginBlock: var(--Note-footer-marginBlock);
  --Note-tags-maxWidth: 40em;

  font-size: var(--Note-content-fontSize);
  max-width: var(--Note-content-maxWidth);
}

.Note-content {
  color: var(--Note-content-color);
  font-family: var(--Note-content-fontFamily);
  font-size: inherit;
  font-weight: var(--Note-content-fontWeight);
  hanging-punctuation: first allow-end last;
  line-height: var(--Note-content-lineHeight);
}

.Note-content a:link,
.Note-content a:visited {
  color: var(--Note-content-anchor-link-color);
  font-weight: 400;
  text-decoration-skip-ink: all;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.1em;
}

.Note-content a:link:hover {
  color: var(--Note-content-anchor-link-onHover-color);
}

.Note-content a:visited {
  color: var(--Note-content-anchor-visited-color);
}

.Note-content a:visited:hover {
  color: var(--Note-content-anchor-visited-onHover-color);
}

.Note-content figure {
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
  margin-inline: 0;
}

.Note-content figcaption {
  font-size: var(--step--1);
  font-style: italic;
  margin-block-start: var(--space-3xs-2xs);
}

.Note-content img {
  border-radius: var(--Note-content-img-borderRadius);
  display: block;
  max-width: 100%;
}

.Note-content :is(lite-vimeo, lite-youtube) {
  border-radius: var(--Note-content-liteYoutube-borderRadius);
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
}

.Note-tags {
  font-size: var(--Note-tags-fontSize);
  line-height: var(--Note-tags-lineHeight);
  margin-block: var(--Note-tags-marginBlock);
  /* max-width: var(--Note-tags-maxWidth); */
}

.Note-published {
  color: var(--Note-published-color);
  font-family: var(--Note-published-fontFamily);
  font-size: var(--Note-published-fontSize);
  font-weight: var(--Note-published-fontWeight);
  margin-block: var(--Note-published-marginBlock);
  white-space: nowrap;
}

.Note-published *:link,
.Note-published *:visited {
  color: var(--Note-published-link-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Note-published *:link:hover,
.Note-published *:visited:hover {
  color: var(--Note-published-link-onHover-color);
}

@media screen and (min-width:32em) {
  .Note-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Note-published {
    margin-inline: 0 var(--space-xs);
  }
}

.Note-content p {
  margin: 0;
}

.Note-content p:not(:first-child) {
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
}

.Note--sizeSmall {
  font-size: var(--Note--sizeSmall-content-fontSize);
  max-width: var(--Note--sizeSmall-content-maxWidth);
}

.Note--sizeSmall .Note-published {
  font-size: var(--Note--sizeSmall-published-fontSize);
  font-weight: var(--Note--sizeSmall-published-fontWeight);
}

.Note--sizeSmall .Note-tags {
  font-size: var(--Note--sizeSmall-tags-fontSize);
}

.Note--sizeLarge {
  font-size: var(--Note--sizeLarge-content-fontSize);
  max-width: var(--Note--sizeLarge-content-maxWidth);
}

.Note--sizeLarge .Note-published {
  font-size: var(--Note--sizeLarge-published-fontSize);
  font-weight: var(--Note--sizeLarge-published-fontWeight);
}

.Note--sizeLarge .Note-tags {
  font-size: var(--Note--sizeLarge-tags-fontSize);
}

