/*
 * 1. Necessary until Safari supports the font-variation-settings property in @font-face
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/@font-face#browser_compatibility
 */

.NotesLayout {
  --NotesLayout-content-color: var(--TextStyle01-color);
  --NotesLayout-content-fontFamily: var(--TextStyle01-fontFamily);
  --NotesLayout-content-fontSize: var(--TextStyle01-fontSize);
  --NotesLayout-nav-marginBlock: var(--space-l-xl) 0;
  --NotesLayout-navContent-backgroundColor: var(--slate-3);
  --NotesLayout-navContent-borderRadius: 0.25em;
  --NotesLayout-navContent-color: var(--slate-10);
  --NotesLayout-navContent-cursor: default;
  --NotesLayout-navContent-display: block;
  --NotesLayout-navContent-fontSize: var(--step--2);
  --NotesLayout-navContent-fontWeight: var(--font-weight-4);
  --NotesLayout-navContent-letterSpacing: var(--letter-spacing-1);
  --NotesLayout-navContent-link-backgroundColor: var(--blue-3);
  --NotesLayout-navContent-link-color: var(--blue-10);
  --NotesLayout-navContent-link-cursor: pointer;
  --NotesLayout-navContent-link-onHover-backgroundColor: var(--blue-3);
  --NotesLayout-navContent-link-onHover-color: var(--blue-10);
  --NotesLayout-navContent-link-textDecoration: none;
  --NotesLayout-navContent-paddingBlock: var(--space-xs);
  --NotesLayout-navContent-paddingInline: var(--space-s);
  --NotesLayout-navContent-textAlign: center;
  --NotesLayout-note-marginBlock: var(--space-m-l) 0;
  --NotesLayout-title-color: var(--slate-8);
  --NotesLayout-title-fontFamily: var(--font-system);
  --NotesLayout-title-fontSize: var(--step-0);
  --NotesLayout-title-fontStyle: normal;
  --NotesLayout-title-fontWeight: var(--font-weight-7);
  --NotesLayout-title-marginBlock: var(--space-l) 0;
  --NotesLayout-title-marginInline: 0;

  align-self: center;
  margin-inline: auto;
}

.NotesLayout-title {
  color: var(--NotesLayout-title-color);
  font-family: var(--NotesLayout-title-fontFamily);
  font-size: var(--NotesLayout-title-fontSize);
  font-style:  var(--NotesLayout-title-fontStyle);
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: var(--NotesLayout-title-fontWeight);
  margin-block: var(--NotesLayout-title-marginBlock);
  margin-inline: var(--NotesLayout-title-marginInline);
}

.NotesLayout-content {
  color: var(--NotesLayout-content-color);
  font-family: var(--NotesLayout-content-fontFamily);
  font-size: var(--NotesLayout-content-fontSize);
  font-variation-settings: "SOFT" 100, "WONK" 1; /* 1 */
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  max-width: 24em;
}

.NotesLayout-nav {
  margin-block: var(--NotesLayout-nav-marginBlock);
}

.NotesLayout-navContent {
  background-color: var(--NotesLayout-navContent-backgroundColor);
  border-radius: var(--NotesLayout-navContent-borderRadius);
  color: var(--NotesLayout-navContent-color);
  cursor: var(--NotesLayout-navContent-cursor);
  display: var(--NotesLayout-navContent-display);
  font-size: var(--NotesLayout-navContent-fontSize);
  font-weight: var(--NotesLayout-navContent-fontWeight);
  letter-spacing: var(--NotesLayout-navContent-letterSpacing);
  padding-block: var(--NotesLayout-navContent-paddingBlock);
  padding-inline: var(--NotesLayout-navContent-paddingInline);
  text-align: var(--NotesLayout-navContent-textAlign);
}

.NotesLayout-navContent:link,
.NotesLayout-navContent:visited {
  background-color: var(--NotesLayout-navContent-link-backgroundColor);
  color: var(--NotesLayout-navContent-link-color);
  cursor: var(--NotesLayout-navContent-link-cursor);
  text-decoration: var(--NotesLayout-navContent-link-textDecoration);
}

.NotesLayout-navContent:link:hover,
.NotesLayout-navContent:visited:hover {
  background-color: var(--NotesLayout-navContent-link-onHover-backgroundColor);
  color: var(--NotesLayout-navContent-link-onHover-color);
}

.NotesLayout-note {
  margin-block: var(--NotesLayout-note-marginBlock);
}
