.Note-content {
  color: var(--Note-content-color);
  font-family: var(--Note-content-fontFamily);
  font-size: var(--Note-content-fontSize);
  font-weight: var(--Note-content-fontWeight);
  hanging-punctuation: first allow-end last;
  line-height: var(--Note-content-lineHeight);
  max-width: var(--Note-content-maxWidth);
}

.Note-content a:link {
  color: var(--Note-content-anchor-link-color);
}

.Note-content a:link:hover {
  color: var(--Note-content-anchor-link-onHover-color);
}

.Note-content a:visited {
  color: var(--Note-content-anchor-visited-color);
}

.Note-content a:visited:hover {
  color: var(--Note-content-anchor-visited-onHover-color);
}

.Note-content img {
  display: block;
  max-width: 100%;
}

.Note-tags {
  font-size: var(--Note-tags-fontSize);
  line-height: var(--Note-tags-lineHeight);
  margin-block: var(--Note-tags-marginBlock);
  max-width: var(--Note-tags-maxWidth);
}

.Note-published {
  color: var(--Note-published-color);
  font-family: var(--Note-published-fontFamily);
  font-size: var(--Note-published-fontSize);
  font-weight: var(--Note-published-fontWeight);
  margin-block: var(--Note-published-marginBlock);
  white-space: nowrap;
}

.Note-publishedLink {
  color: var(--Note-publishedLink-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.Note-publishedLink:hover {
  color: var(--Note-publishedLink-onHover-color);
}

@media screen and (min-width:32em) {
  .Note-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .Note-published {
    margin-inline: 0 var(--space-xs);
  }
}

.Note-content p {
  margin: 0;
}

.Note-content p:not(:first-child) {
  margin-block: calc(var(--line-height-5) / 4 * 1em) 0;
}

.Note--sizeLarge .Note-content {
  font-size: var(--Note--sizeLarge-content-fontSize);
  max-width: var(--Note--sizeLarge-content-maxWidth);
}

.Note--sizeLarge .Note-published {
  font-size: var(--Note--sizeLarge-published-fontSize);
  font-weight: var(--Note--sizeLarge-published-fontWeight);
}

.Note--sizeSmall .Note-content {
  font-size: var(--Note--sizeSmall-content-fontSize);
  max-width: var(--Note--sizeSmall-content-maxWidth);
}

.Note--sizeSmall .Note-published {
  font-size: var(--Note--sizeSmall-published-fontSize);
  font-weight: var(--Note--sizeSmall-published-fontWeight);
}
