.NotesLayout {
  align-self: center;
  margin-inline: auto;
}

.NotesLayout-title {
  color: var(--NotesLayout-title-color);
  font-family: var(--NotesLayout-title-fontFamily);
  font-size: var(--NotesLayout-title-fontSize);
  font-style:  var(--NotesLayout-title-fontStyle);
  font-weight: var(--NotesLayout-title-fontWeight);
  margin-block: var(--NotesLayout-title-marginBlock);
  margin-inline: var(--NotesLayout-title-marginInline);
}

.NotesLayout-content {
  font-family: var(--NotesLayout-content-fontFamily);
  font-size: var(--NotesLayout-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  margin-block: var(--space-xs-s) 0;
}

.NotesLayout-nav {
  margin-block: var(--NotesLayout-nav-marginBlock);
}

.NotesLayout-navContent {
  background-color: var(--NotesLayout-navContent-backgroundColor);
  border-radius: var(--NotesLayout-navContent-borderRadius);
  color: var(--NotesLayout-navContent-color);
  cursor: var(--NotesLayout-navContent-cursor);
  display: var(--NotesLayout-navContent-display);
  font-size: var(--NotesLayout-navContent-fontSize);
  font-weight: var(--NotesLayout-navContent-fontWeight);
  letter-spacing: var(--NotesLayout-navContent-letterSpacing);
  padding-block: var(--NotesLayout-navContent-paddingBlock);
  padding-inline: var(--NotesLayout-navContent-paddingInline);
  text-align: var(--NotesLayout-navContent-textAlign);
}

.NotesLayout-navContent:link,
.NotesLayout-navContent:visited {
  background-color: var(--NotesLayout-navContent-link-backgroundColor);
  color: var(--NotesLayout-navContent-link-color);
  cursor: var(--NotesLayout-navContent-link-cursor);
  text-decoration: var(--NotesLayout-navContent-link-textDecoration);
}

.NotesLayout-navContent:link:hover,
.NotesLayout-navContent:visited:hover {
  background-color: var(--NotesLayout-navContent-link-onHover-backgroundColor);
  color: var(--NotesLayout-navContent-link-onHover-color);
}

.NotesLayout-note {
  margin-block: var(--NotesLayout-note-marginBlock);
}
