.NoteLayout {
  --NoteLayout-nav-color: var(--slate-9);
  --NoteLayout-nav-cursor: default;
  --NoteLayout-nav-fontFamily: var(--font-system);
  --NoteLayout-nav-fontSize: var(--step--2);
  --NoteLayout-nav-fontWeight: 800;
  --NoteLayout-nav-letterSpacing: 0.1em;
  --NoteLayout-nav-marginBlock: var(--space-2xs);
  --NoteLayout-nav-textTransform: uppercase;
  --NoteLayout-nav-userSelect: none;
  --NoteLayout-navItemContent-link-color: var(--anchor-link-color);
  --NoteLayout-navItemContent-link-onHover-color: var(--anchor-link-onHover-color);
  --NoteLayout-navItemContent-visited-color: var(--anchor-visited-color);
  --NoteLayout-navItemContent-visited-onHover-color: var(--anchor-visited-onHover-color);
  --NoteLayout-navList-gap: 1.0em;
  --NoteLayout-navList-marginBlock: var(--space-2xs) var(--space-2xs);

  align-self: center;
  margin-inline: auto;
}

.NoteLayout-nav {
  color: var(--NoteLayout-nav-color);
  cursor: var(--NoteLayout-nav-cursor);
  font-family: var(--NoteLayout-nav-fontFamily);
  font-size: var(--NoteLayout-nav-fontSize);
  font-weight: var(--NoteLayout-nav-fontWeight);
  letter-spacing: var(--NoteLayout-nav-letterSpacing);
  margin-block: var(--NoteLayout-nav-marginBlock);
  text-transform: var(--NoteLayout-nav-textTransform);
  -webkit-user-select: var(--NoteLayout-nav-userSelect);
          user-select: var(--NoteLayout-nav-userSelect);
}

.NoteLayout-navList {
  display: flex;
  gap: var(--NoteLayout-navList-gap);
  list-style-type: "";
  margin-block: var(--NoteLayout-navList-marginBlock);
  padding-inline: 0 0;
}

.NoteLayout-navItem--newer::before {
  content: "\2022\2003";
}

.NoteLayout-navItem--newer .NoteLayout-navItemContent::after {
  content: "\A0\2192";
}

.NoteLayout-navItem--older .NoteLayout-navItemContent::before {
  content: "\2190\A0";
}

.NoteLayout-navItemContent:link,
.NoteLayout-navItemContent:visited {
  text-decoration: none;
}

.NoteLayout-navItemContent:link {
  color: var(--NoteLayout-navItemContent-link-color);
}

.NoteLayout-navItemContent:link:hover {
  color: var(--NoteLayout-navItemContent-link-onHover-color);
}

.NoteLayout-navItemContent:visited {
  color: var(--NoteLayout-navItemContent-visited-color);
}

.NoteLayout-navItemContent:visited:hover {
  color: var(--NoteLayout-navItemContent-visited-onHover-color);
}
