.HomeLayout {
  --HomeLayout-content-fontFamily: var(--font-serif);
  --HomeLayout-content-fontSize: var(--step-0);
}

.HomeLayout {
  align-self: center;
  margin-block-start: var(--space-l-xl);
  margin-inline: auto;
}

.HomeLayout-content {
  font-family: var(--HomeLayout-content-fontFamily);
  font-size: var(--HomeLayout-content-fontSize);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  margin-block: var(--space-xs-s) 0;
}

.HomeLayout-post {
          border-top: solid 1px var(--slate-5);
  -webkit-border-before: solid 1px var(--slate-5);
          border-before: solid 1px var(--slate-5);
  padding-block: var(--HomeLayout-post-paddingBlock);
  position: relative;
}

.HomeLayout-postCategory {
  background-color: var(--Body-backgroundColor);
  color: var(--HomeLayout-postCategory-color);
  font-family: var(--HomeLayout-postCategory-fontFamily);
  font-size: var(--HomeLayout-postCategory-fontSize);
  font-weight: var(--HomeLayout-postCategory-fontWeight);
  letter-spacing: var(--HomeLayout-postCategory-letterSpacing);
  left: 0;
  position: absolute;
  text-transform: var(--HomeLayout-postCategory-textTransform);
  top: -0.5em;
  -webkit-user-select: var(--HomeLayout-postCategory-userSelect);
          user-select: var(--HomeLayout-postCategory-userSelect);
}

.HomeLayout-postCategoryText:link,
.HomeLayout-postCategoryText:visited {
  text-decoration: none;
}

.HomeLayout-postCategoryText:link {
  color: var(--HomeLayout-postCategoryText-link-color);
}

.HomeLayout-postCategoryText:link:hover {
  color: var(--HomeLayout-postCategoryText-link-onHover-color);
}

.HomeLayout-postCategoryText:visited {
  color: var(--HomeLayout-postCategoryText-visited-color);
}

.HomeLayout-postCategoryText:visited:hover {
  color: var(--HomeLayout-postCategoryText-visited-onHover-color);
}

.HomeLayout-post .Entry-title {
  margin-block-start: var(--space-2xs);
}
