:root {
  --Page-header-color: var(--TextStyle03-color);
  --Page-header-fontFamily: var(--TextStyle03-fontFamily);
  --Page-header-fontSize: var(--TextStyle03-fontSize);
  --Page-header-fontWeight: var(--font-weight-4);
  --Page-header-letterSpacing: -0.04em;
  --Page-header-lineHeight: var(--line-height-1);

  --Page-content-anchor-link-color: var(--anchor-link-color);
  --Page-content-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Page-content-anchor-visited-color: var(--anchor-visited-color);
  --Page-content-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);

  --Page-content-color: var(--TextStyle01-color);
  --Page-content-fontFamily: var(--TextStyle01-fontFamily);
  --Page-content-fontSize: var(--TextStyle01-fontSize);
  --Page-content-fontWeight: var(--TextStyle01-fontWeight);
  --Page-content-lineHeight: var(--TextStyle01-lineHeight);

  --Page-content-h2-color: var(--TextStyle04-color);
  --Page-content-h2-fontFamily: var(--TextStyle04-fontFamily);
  --Page-content-h2-fontSize: var(--TextStyle04-fontSize);
  --Page-content-h2-fontWeight: var(--TextStyle04-fontWeight);
  --Page-content-h2-lineHeight: var(--TextStyle04-lineHeight);
}

.Page {
  align-self: center;
  margin-inline: auto;
}

/* Since iframes have unknown width, just take the whole horizontal space */

.Page:has(iframe) {
  width: 100%;
}

.Page:has(iframe) .Page-content {
  max-width: none;
}

.Page-header {
}

.Page-title {
  color: var(--Page-header-color);
  font-family: var(--Page-header-fontFamily);
  font-size: var(--Page-header-fontSize);
  font-weight: var(--Page-header-fontWeight);
  letter-spacing: var(--Page-header-letterSpacing);
  line-height: var(--Page-header-lineHeight);
  margin-block: var(--space-xl) 0;
  max-width: 24em;
  text-wrap: balance;
}

.Page-content {
  color: var(--Page-content-color);
  font-family: var(--Page-content-fontFamily);
  font-size: var(--Page-content-fontSize);
  font-weight: var(--Page-content-fontWeight);
  line-height: var(--Page-content-lineHeight);
  max-width: 32em;
}

.Page-content a:link {
  color: var(--Page-content-anchor-link-color);
  text-decoration-skip-ink: all;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.1em;
}

.Page-content a:link:hover {
  color: var(--Page-content-anchor-link-onHover-color);
}

.Page-content a:visited {
  color: var(--Page-content-anchor-visited-color);
  text-decoration-skip-ink: all;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.1em;
}

.Page-content a:visited:hover {
  color: var(--Page-content-anchor-visited-onHover-color);
}

.Page-content h2 {
  color: var(--Page-content-h2-color);
  font-family: var(--Page-content-h2-fontFamily);
  font-optical-sizing: auto;
  font-size: var(--Page-content-h2-fontSize);
  font-style: normal;
  font-weight: var(--Page-content-h2-fontWeight);
  font-variation-settings: "wdth" 75;
  line-height: var(--Page-content-h2-lineHeight);
  margin-block: var(--space-l) 0;
  text-transform: uppercase;
}

.Page-content img {
  display: block;
  max-width: 100%;
}

.Page-content p {
  margin-block: var(--space-xs-s) 0;
}
