:root {
  --Page-header-color: var(--slate12);
  --Page-header-fontFamily: var(--font-serif);
  --Page-header-fontSize: var(--step-4);
  --Page-header-fontWeight: var(--font-weight-4);
  --Page-header-letterSpacing: -0.04em;
  --Page-header-lineHeight: var(--line-height-1);

  --Page-body-anchor-link-color: var(--anchor-link-color);
  --Page-body-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Page-body-anchor-visited-color: var(--anchor-visited-color);
  --Page-body-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);

  --Page-body-color: var(--slate12);
  --Page-body-fontFamily: var(--font-serif);
  --Page-body-fontSize: var(--step-1);
  --Page-body-fontWeight: var(--font-weight-3);
  --Page-body-lineHeight: var(--line-height-5);
}

.Page {
  align-self: center;
  margin-inline: auto;
}

.Page-header {
}

.Page-headerContent {
  color: var(--Page-header-color);
  font-family: var(--Page-header-fontFamily);
  font-size: var(--Page-header-fontSize);
  font-weight: var(--Page-header-fontWeight);
  letter-spacing: var(--Page-header-letterSpacing);
  line-height: var(--Page-header-lineHeight);
  margin-block: var(--space-xl) 0;
  max-width: 24em;
  text-wrap: balance;
}

.Page-body {
  color: var(--Page-body-color);
  font-family: var(--Page-body-fontFamily);
  font-size: var(--Page-body-fontSize);
  font-weight: var(--Page-body-fontWeight);
  line-height: var(--Page-body-lineHeight);
  max-width: 32em;
}

.Page-body a:link {
  color: var(--Page-body-anchor-link-color);
}

.Page-body a:link:hover {
  color: var(--Page-body-anchor-link-onHover-color);
}

.Page-body a:visited {
  color: var(--Page-body-anchor-visited-color);
}

.Page-body a:visited:hover {
  color: var(--Page-body-anchor-visited-onHover-color);
}

.Page-body h2 {
  color: var(--slate12);
  font-family: "Oswald";
  font-size: var(--step-1);
  font-weight: 500;
  margin-block: var(--space-l) 0;
  text-transform: uppercase;
}

.Page-body img {
  display: block;
  max-width: 100%;
}

.Page-body p {
  margin-block: 0 0;
}

.Page-body p + p {
  margin-block-start: var(--space-m);
}
