<article class="Article Article--size{{ include.size | capitalize }} h-entry">
  <header class="Article-header">
    <div class="Article-published">
      <time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
        <a class="Article-publishedLink u-url" href="{{ include.url | relative_url }}">
          {{ include.date | date:site.optima.time_and_date_short_format }}
        </a>
      </time>
    </div>
    <h1 class="Article-title">
      <a class="Article-titleLink u-url" href="{{ include.url | relative_url }}">
        {{ include.title |smartify }}
      </a>
    </h1>
  </header>
  <div class="Article-content e-content">
    {%- if include.mode == "excerpt" -%}
      {{ include.excerpt | markdownify }}
    {%- else if include.mode == "content" -%}
      {{ include.content | markdownify }}
    {%- endif -%}
  </div>
  <footer class="Article-footer">
    <dl class="Article-tags Tags">
      <dt>Tagged</dt>
      {% for tag in include.tags %}
        <dd><a href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag | replace: "-", " " }}</a></dd>
      {% endfor %}
    </dl>
  </footer>
</article>
