<article class="Article Article--size{{ include.size | capitalize }} h-entry">
  <header class="Article-header">
    {%- if include.mode == "content" -%}
      <div class="Article-published">
        <time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ include.date | date:site.optima.date_long_format }}
        </time>
      </div>
    {%- endif -%}
    <h1 class="Article-title">
      {%- if include.mode == "excerpt" -%}
        <a class="u-url" href="{{ include.url | relative_url }}">
          {{ include.title | smartify }}
        </a>
      {%- else if include.mode == "content" -%}
        <span class="u-url">
          {{ include.title | smartify }}
        </span>
      {%- endif -%}
    </h1>
  </header>
  <div class="Article-content e-content">
    <div class="Article-description">
      {{ include.description | markdownify }}
    </div>
    {%- if include.mode == "excerpt" -%}
      {{ include.excerpt | markdownify }}
      {% assign content = include.content | strip %}
      {% unless content == "" %}
        <div class="Article-continue">
          <a class="u-url" href="{{ include.url | relative_url }}">Continue reading</a>
        </div>
      {% endunless %}
    {%- else if include.mode == "content" -%}
      {{ include.content | markdownify }}
    {%- endif -%}
  </div>
  <footer class="Article-footer">
    <dl class="Article-tags Tags">
      <dt class="Tags-term">Tagged</dt>
      {% for tag in include.tags %}
        <dd class="Tags-details">
          <a class="p-category" href="{{ tag | prepend: '/tags/' | relative_url }}">{{ tag | replace: "-", " " }}</a>
        </dd>
      {% endfor %}
    </dl>
    <div class="Article-published">
      <time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
        <a class="u-url" href="{{ include.url | relative_url }}">
          {{ include.date | date:site.optima.time_and_date_short_format }}
        </a>
      </time>
    </div>
  </footer>
</article>
