<article class="Entry Entry--size{{ include.size | capitalize }} h-entry">
  <header class="Entry-header">
    <div class="Entry-published">
      <time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
        <a class="Entry-publishedLink u-url" href="{{ include.url | relative_url }}">
          {{ include.date | date:site.optima.time_and_date_short_format }}
        </a>
      </time>
    </div>
    <h1 class="Entry-title">
      <a class="Entry-titleLink u-url" href="{{ include.url | relative_url }}">
        {{ include.title |smartify }}
      </a>
    </h1>
  </header>
  <div class="Entry-content e-content">
    {%- if include.mode == "excerpt" -%}
      {{ include.excerpt | markdownify }}
    {%- else if include.mode == "content" -%}
      {{ include.content | markdownify }}
    {%- endif -%}
  </div>
  <footer class="Entry-footer">
    <dl class="Entry-tags Tags">
      <dt class="Tags-term">Tagged</dt>
      {% for tag in include.tags %}
        <dd class="Tags-details">
          <a class="Tags-detailsLink p-category" href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag | replace: "-", " " }}</a>
        </dd>
      {% endfor %}
    </dl>
  </footer>
</article>
