.Body {
  --Body-backgroundColor: var(--slate-2);
  --Body-color: var(--slate-12);
  --Body-footer-backgroundColor: inherit;
  --Body-footer-color: inherit;
  --Body-header-backgroundColor: inherit;
  --Body-header-color: inherit;

  background-color: var(--Body-backgroundColor);
  color: var(--Body-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.Body-header {
  background-color: var(--Body-header-backgroundColor);
  color: var(--Body-header-color);
}

.Body-main {
  display: flex;
}

.Body-footer {
  background-color: var(--Body-footer-backgroundColor);
  color: var(--Body-footer-color);
}
