.Footer {
  margin-block: var(--space-xl);
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  width: 100%;
}

.Footer-heading {
  color: inherit;
  font-size: var(--step--1);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-5);
  margin-block: 0 0;
}

.Footer-content p,
.Footer-navList {
  font-size: var(--step--2);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-5);
  margin-block: var(--space-3xs-2xs) 0;
}

.Footer-navList {
  list-style-type: "";
  padding-inline: 0 0;
}

.Footer-navListItem {
  display: block;
  margin-block: var(--space-4xs-3xs) 0;
}

.Footer-link:link,
.Footer-link:visited,
.Footer-link:hover,
.Footer-link:focus,
.Footer-link:active {
  background-color: unset;
  color: inherit;
  text-decoration: none;
}

.Footer-link--withIcon {
  align-items: center;
  display: flex;
}

.Footer-linkIcon {
  margin-right: var(--space-4xs-3xs);
}

@media (min-width: 60em) {
  .Footer-content {
    column-gap: var(--grid-gutter);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: auto 1fr auto;
    row-gap: 0;
  }

  .Footer-about {
    grid-column-end: 5;
    grid-column-start: 1;
  }

  .Footer-nav {
    grid-column-end: 7;
    grid-column-start: 5;
  }

  .Footer-social {
    grid-column-end: 10;
    grid-column-start: 7;
  }

  .Footer-other {
    grid-column-end: 13;
    grid-column-start: 10;
  }
}
