.Header {
  --Header-height: var(--space-xl-2xl);
  --Header-mobileNav-backgroundColor: var(--slate-2);
  --Header-mobileNav-boxShadowColor: var(--slate-2);
  --Header-mobileNav-color: var(--slate-11);
  --Header-mobileNavListItem-boxShadowColor: var(--slate-6);
  --Header-name-color: var(--color-text-bright);
  --Header-name-fontFamily: var(--font-serif);
  --Header-name-fontSize: var(--step-1);
  --Header-name-fontWeight: var(--font-weight-6);
  --Header-name-link-color: var(--color-link-inherit);
  --Header-name-link-onHover-color: var(--color-link-bright-onHover);
  --Header-navListItem-color: var(--color-text-regular);
  --Header-navListItem-fontFamily: var(--font-grotesque);
  --Header-navListItem-fontSize: var(--step-0);
  --Header-navListItem-fontWeight: var(--font-weight-6);
  --Header-navListItem-link-color: var(--color-link-bright);
  --Header-navListItem-link-onHover-backgroundColor: var(--color-background-muted-onHover);
  --Header-navListItem-link-onHover-color: var(--color-link-bright-onHover);
  --Header-navListItem-isCurrent-link-backgroundColor: var(--color-background-muted);
  --Header-navListItem-isCurrent-link-Color: var(--color-link-inherit);
  --Header-navListItem-isCurrent-link-onHover-backgroundColor: var(--color-background-muted-onHover);
  --Header-navListItem-isCurrent-link-onHover-color: var(--color-link-inherit-onHover);

  align-items: center;
  display: flex;
  height: var(--Header-height);
  justify-content: space-between;
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  white-space: nowrap;
  width: 100%;
}

.Header-name {
  color: var(--Header-name-color);
  font-family: var(--Header-name-fontFamily);
  font-size: var(--Header-name-fontSize);
  font-weight: var(--Header-name-fontWeight);
  /* u-flexTruncateParent */
  min-width: 0 !important;
}

.Header-name *:link,
.Header-name *:visited,
.Header-navListItem *:link,
.Header-navListItem *:visited {
  border-radius: 0.125em;
  display: block;
  max-width: 100%;
  overflow: hidden !important;
  padding: var(--space-3xs-2xs) var(--space-xs-s);
  text-decoration: none;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.Header-name *:link,
.Header-name *:visited {
  color: var(--Header-name-link-color);
  left: calc(-1 * var(--space-xs-s));
  position: relative;
}

.Header-name *:link:hover,
.Header-name *:link:focus,
.Header-name *:visited:hover,
.Header-name *:visited:focus {
  color: var(--Header-name-link-onHover-color);
}

.Header-nav {
  display: none;
  flex: 1 1 auto;
}

.Header-navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: "";
  margin-block: 0 0;
  padding-inline: 0 0;
}

.Header-navListItem {
  color: var(--Header-navListItem-color);
  font-family: var(--Header-navListItem-fontFamily);
  font-size: var(--Header-navListItem-fontSize);
  font-weight: var(--Header-navListItem-fontWeight);
  margin: 0 var(--space-3xs);
}

.Header-navListItem *:link,
.Header-navListItem *:visited {
  background-color: unset;
  color: var(--Header-navListItem-link-color);
}

.Header-navListItem *:link:hover,
.Header-navListItem *:visited:hover,
.Header-navListItem *:link:focus,
.Header-navListItem *:visited:focus {
  color: var(--Header-navListItem-link-onHover-color);
  background-color: var(--Header-navListItem-link-onHover-backgroundColor);
}

.Header-navListItem.is-current *:link,
.Header-navListItem.is-current *:visited {
  color: var(--Header-navListItem-isCurrent-link-Color);
  background-color: var(--Header-navListItem-isCurrent-link-backgroundColor);
}

.Header-navListItem.is-current *:link:hover,
.Header-navListItem.is-current *:link:focus,
.Header-navListItem.is-current *:link:active,
.Header-navListItem.is-current *:visited:hover,
.Header-navListItem.is-current *:visited:focus,
.Header-navListItem.is-current *:visited:active {
  background-color: var(--Header-navListItem-isCurrent-link-onHover-backgroundColor);
  color: var(--Header-navListItem-isCurrent-link-onHover-color);
}

.Header-details {
}

.Header-summary {
  cursor: default;
  height: 0;
  outline: none;
  overflow: hidden;
  padding-top: 2em;
  position: relative;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2em;
  z-index: 2;
}

.Header-summary::before {
  bottom: 0;
  color: inherit;
  content: "\2630";
  font-size: 2em;
  font-style: normal;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.Header-details[open] .Header-summary::before {
  color: var(--Header-mobileNav-color);
  content: "\00D7";
}

.Header-summary::-webkit-details-marker {
  display: none;
}

.Header-details[open] .Header-mobileNav {
  left: 20vw
}

.Header-mobileNav {
  background-color: var(--Header-mobileNav-backgroundColor);
  bottom: 0;
  box-shadow: 0 0 48px rgba(33, 37, 41, 0.25), inset 0 var(--Header-height) 0 var(--Header-mobileNav-boxShadowColor);
  color: var(--Header-mobileNav-color);
  display: flex;
  flex-direction: column;
  left: 20vw;
  min-height: calc(100vh - var(--Header-height));
  padding-top: var(--Header-height);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.Header-mobileNavList {
   box-shadow: inset 0 1px 0 var(--Header-mobileNavList-boxShadowColor);
  margin-block: 0 0;
  padding-inline: 0 0 0 var(--space-m);
}

.Header-mobileNavListItem {
  align-items: center;
  box-shadow: inset 0 -1px 0 var(--Header-mobileNavListItem-boxShadowColor);
  display: flex;
  flex: 1 1 auto;
  font-family: var(--Header-navListItem-fontFamily);
  font-size: var(--Header-navListItem-fontSize);
  font-weight: var(--Header-navListItem-fontWeight);
  justify-content: start;
}

.Header-mobileNavlink {
  display: block;
  flex: 1 1 auto;
  padding: var(--space-s);
}

.Header-mobileNavlink:link,
.Header-mobileNavlink:visited,
.Header-mobileNavlink:hover,
.Header-mobileNavlink:focus,
.Header-mobileNavlink:active {
  background-color: unset;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 60em) {

  .Header-nav {
    display: block;
  }

  .Header-details {
    display: none;
  }

}
