---
layout: default
---

<div class="ArchivesLayout">
  {%- if page.title -%}
    <h1 class="ArchivesLayout-title">Archive of everything with {{ page.type }} “{{ page.title }}”</h1>
  {%- endif -%}

  <div class="ArchivesLayout-posts">
    {% for post in page.posts %}
      <section class="ArchivesLayout-post">
        <div class="ArchivesLayout-postCategory">
          <a class="ArchivesLayout-postCategoryText" href="{{ post.categories.first | append: '/' | relative_url }}">{{ post.categories.first }}</a>
        </div>
        {% case post.categories.first %}
          {% when "articles" %}
            {% include article.html content=post.content date=post.date description=post.description excerpt=post.excerpt mode="excerpt" size="small" slug=post.slug tags=post.tags title=post.title url=post.url %}
          {% when "journal" %}
            {% include entry.html content=post.content date=post.date description=post.description excerpt=post.excerpt mode="excerpt" size="medium" slug=post.slug tags=post.tags title=post.title url=post.url %}
          {% when "notes" %}
            {% include note.html slug=post.slug content=post.content date=post.date size="medium" tags=post.tags url=post.url %}
          {% else %}
        {% endcase %}
      </section>
    {% endfor %}
  </div>
</div>
