---
layout: default
---

<div class="ArchiveLayout">
  {% if page.type == 'tag' %}
    <h1 class="ArchiveLayout-title">Archive of everything with {{ page.type }} “{{ page.title }}”</h1>
  {% elsif page.type == 'month' %}
    <h1 class="ArchiveLayout-title">Archive of everything from {{ page.date | date: "%B %Y" }}</h1>
  {% endif %}
  <div class="ArchiveLayout-archives">
    {% for post in page.posts %}
      {% case post.categories.first %}
        {% when "articles" %}
          <section class="ArchiveLayout-article">
            {% include archive.html date=post.date title=post.title type=post.categories.first url=post.url %}
          </section>
        {% when "journal" %}
          <section class="ArchiveLayout-entry">
            {% include archive.html date=post.date title=post.title type=post.categories.first url=post.url %}
          </section>
        {% when "notes" %}
          <section class="ArchiveLayout-note">
            {% include archive.html date=post.date title=post.excerpt type=post.categories.first url=post.url %}
          </section>
        {% else %}
      {% endcase %}
    {% endfor %}
  </div>
</div>
