---
layout: default
---

{%- assign category = page.categories[0] -%}
{%- assign articles = site.categories[category] -%}
{%- for article in articles -%}
  {%- if article.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_article = articles[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_article = articles[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="Article">
  <nav class="Article-nav">
    <ol>
      <li class="Article-navItem">
        <a href={{ "/articles/" | relative_url }}>Articles</a>
      </li>
      <li class="Article-navItem Article-navItem--older">
        {%- if older_article -%}
          <a class="Article-navItemContent" href="{{ older_article.url | relative_url }}">Older</a>
        {%- else -%}
          <span class="Article-navItemContent">Older</span>
        {%- endif -%}
      </li>
      <li class="Article-navItem Article-navItem--newer">
        {%- if newer_article -%}
          <a class="Article-navItemContent" href="{{ newer_article.url | relative_url }}">Newer</a>
        {%- else -%}
          <span class="Article-navItemContent">Newer</span>
        {%- endif -%}
      </li>
    </ol>
  </nav>
  <article class="Article-article h-entry">
    <div class="Article-content p-content">
      {{ content }}
    </div>
    <footer class="Article-footer">
      <dl class="Article-tags Tags">
        <dt>Tagged</dt>
        {% for tag in page.tags %}
          <dd><a href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag | replace: "-", " " }}</a></dd>
        {% endfor %}
      </dl>
      <div>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:site.optima.time_and_date_short_format }}</time>
      </div>
    </footer>
  </article>
</div>
