---
layout: default
---

{%- assign category = page.categories.first -%}
{%- assign articles = site.categories[category] -%}
{%- for article in articles -%}
  {%- if article.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_article = articles[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_article = articles[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="ArticleLayout">

  {% include article.html content=page.content date=page.date description=page.description excerpt=page.excerpt mode="content" size="large" slug=page.slug tags=page.tags title=page.title url=page.url %}

  {% comment %}
    <nav class="ArticleLayout-nav">
      <ul>
        <li class="ArticleLayout-navItem">
          <a href={{ "/articles/" | relative_url }}>{{ category | capitalize }}</a>
        </li>
        <li class="ArticleLayout-navItem ArticleLayout-navItem--older">
          {%- if older_article -%}
            <a class="ArticleLayout-navItemContent" href="{{ older_article.url | relative_url }}">Older</a>
          {%- else -%}
            <span class="ArticleLayout-navItemContent">Older</span>
          {%- endif -%}
        </li>
        <li class="ArticleLayout-navItem Article-navItem--newer">
          {%- if newer_article -%}
            <a class="ArticleLayout-navItemContent" href="{{ newer_article.url | relative_url }}">Newer</a>
          {%- else -%}
            <span class="ArticleLayout-navItemContent">Newer</span>
          {%- endif -%}
        </li>
      </ul>
    </nav>
  {% endcomment %}
</div>
