---
layout: default
---

<div class="ArticlesLayout">
  {%- if page.title -%}
    <h1 class="ArticlesLayout-title">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for post in paginator.posts %}
    {% include article.html slug=note.slug content=note.content date=note.date size="medium" tags=note.tags url=note.url %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
