---
layout: default
---

{%- assign category = page.categories.first -%}
{%- assign articles = site.categories[category] -%}
{%- for article in articles -%}
  {%- if article.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_article = articles[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_article = articles[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="Article">
  <nav class="Article-nav">
    <ol>
      <li class="Article-navItem">
        <a href={{ "/articles/" | relative_url }}>Articles</a>
      </li>
      <li class="Article-navItem Article-navItem--older">
        {%- if older_article -%}
          <a class="Article-navItemContent" href="{{ older_article.url | relative_url }}">Older</a>
        {%- else -%}
          <span class="Article-navItemContent">Older</span>
        {%- endif -%}
      </li>
      <li class="Article-navItem Article-navItem--newer">
        {%- if newer_article -%}
          <a class="Article-navItemContent" href="{{ newer_article.url | relative_url }}">Newer</a>
        {%- else -%}
          <span class="Article-navItemContent">Newer</span>
        {%- endif -%}
      </li>
    </ol>
  </nav>

{% include article.html content=page.content date=page.date excerpt=page.excerpt mode="content" size="medium" slug=page.slug tags=page.tags title=page.title url=page.url %}

</div>
