---
layout: default
---

{%- assign category = page.categories[0] -%}
{%- assign notes = site.categories[category] -%}
{%- for entry in journal -%}
  {%- if entry.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_entry = journal[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_entry = journal[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="EntryLayout">
  {%- if category -%}
    <div class="EntryLayout-title">{{ category | capitalize }}</div>
  {%- endif -%}

  <nav class="EntryLayout-nav">
    <ol>
      <li class="EntryLayout-navItem">
        <a href={{ "/journal/" | relative_url }}>Journal</a>
      </li>
      <li class="EntryLayout-navItem EntryLayout-navItem--older">
        {%- if older_entry -%}
          <a class="EntryLayout-navItemContent" href="{{ older_entry.url | relative_url }}">Older</a>
        {%- else -%}
          <span class="EntryLayout-navItemContent">Older</span>
        {%- endif -%}
      </li>
      <li class="EntryLayout-navItem EntryLayout-navItem--newer">
        {%- if newer_entry -%}
          <a class="EntryLayout-navItemContent" href="{{ newer_entry.url | relative_url }}">Newer</a>
        {%- else -%}
          <span class="EntryLayout-navItemContent">Newer</span>
        {%- endif -%}
      </li>
    </ol>
  </nav>
  <article class="Entry h-entry">
    <div class="Entry-content p-content">
      {% include entry.html slug=page.slug content=page.content date=page.date size="small" tags=page.tags url=page.url title=page.title %}
    </div>
    <footer class="Entry-footer">
      <dl class="Entry-tags Tags">
        <dt>Tagged</dt>
        {% for tag in page.tags %}
          <dd><a href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag | replace: "-", " " }}</a></dd>
        {% endfor %}
      </dl>
      <div>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:site.optima.time_and_date_short_format }}</time>
      </div>
    </footer>
  </article>
</div>
