---
layout: default
---

<div class="HomeLayout">

  {%- assign testContent = content | strip_newlines -%}
  {%- unless testContent == "" -%}
    <div class="HomeLayout-content">
      {{ content | markdownify }}
    </div>
  {%- endunless -%}

  <div class="HomeLayout-posts">
    {%- assign posts = site.posts | sort: 'date' | reverse  -%}
    {%- for post in posts limit: 99 -%}
      <section class="HomeLayout-post">
        <div class="HomeLayout-postCategory">
          <a href="{{ post.categories.first | append: '/' | relative_url }}">{{ post.categories.first }}</a>
        </div>
        {% case post.categories.first %}
          {% when "articles" %}
            {% include article.html content=post.content date=post.date description=post.description excerpt=post.excerpt mode="excerpt" size="medium" slug=post.slug tags=post.tags title=post.title url=post.url %}
          {% when "journal" %}
            {% include entry.html content=post.content date=post.date description=post.description excerpt=post.excerpt mode="excerpt" size="medium" slug=post.slug tags=post.tags title=post.title url=post.url %}
          {% when "notes" %}
            {% include note.html slug=post.slug content=post.content date=post.date tags=post.tags url=post.url %}
          {% else %}
        {% endcase %}
      </section>
    {%- endfor -%}
  </div>

  <div class="HomeLayout-content">
    Read other <a href="/articles/">articles</a>, <a href="/journal/">entries</a>, or  <a href="/notes/">notes</a>.
  </div>

</div>
