---
layout: default
---

<div class="JournalLayout">

  {%- assign testContent = content | strip_newlines -%}
  {%- unless testContent == "" -%}
    <div class="JournalLayout-content">
      {{ content | markdownify }}
    </div>
  {%- endunless -%}

  <nav class="JournalLayout-nav">
    {% if paginator.previous_page %}
      <a class="JournalLayout-navContent" href="{{ paginator.previous_page_path | relative_url }}">View newer entries</a>
    {%- else -%}
      <span class="JournalLayout-navContent">Viewing the most recent journal entries</span>
    {% endif %}
  </nav>

  {% for entry in paginator.posts %}
    <section class="JournalLayout-entry">
      {% include entry.html content=entry.content date=entry.date description=entry.description excerpt=entry.excerpt mode="excerpt" size="medium" slug=entry.slug tags=entry.tags title=entry.title url=entry.url %}
    </section>
  {% endfor %}

  <nav class="JournalLayout-nav">
    {% if paginator.next_page %}
      <a class="JournalLayout-navContent" href="{{ paginator.next_page_path | relative_url }}">View older journal entries</a>
    {%- else -%}
      <span class="JournalLayout-navContent">You've reached the end!</span>
    {% endif %}
  </nav>
</div>
