---
layout: default
---

{%- assign category = page.categories[0] -%}
{%- assign notes = site.categories[category] -%}
{%- for note in notes -%}
  {%- if note.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_note = notes[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_note = notes[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="Note">
  <nav class="Note-nav">
    <ol>
      <li class="Note-navItem">
        <a class="Note-navItemContent" href={{ "/notes/" | relative_url }}>Notes</a>
      </li>
      <li class="Note-navItem Note-navItem--older">
        {%- if older_note -%}
          <a class="Note-navItemContent" href="{{ older_note.url | relative_url }}">Older</a>
        {%- else -%}
          <span class="Note-navItemContent">Older</span>
        {%- endif -%}
      </li>
      <li class="Note-navItem Note-navItem--newer">
        {%- if newer_note -%}
          <a class="Note-navItemContent" href="{{ newer_note.url | relative_url }}">Newer</a>
        {%- else -%}
          <span class="Note-navItemContent">Newer</span>
        {%- endif -%}
      </li>
    </ol>
  </nav>
  {% include note-article.html content=page.content date=page.date size="Large" tags=page.tags url=page.url %}
</div>
