---
layout: default
---

<div class="NotesLayout">
  {%- if page.title -%}
    <div class="NotesLayout-title">{{ page.title }}</div>
  {%- endif -%}

  {{ content | markdownify }}

  <nav class="NotesLayout-nav">
    {% if paginator.previous_page %}
      <a class="NotesLayout-navContent" href="{{ paginator.previous_page_path | relative_url }}">View newer notes</a>
    {%- else -%}
      <span class="NotesLayout-navContent">Viewing the most recent notes</span>
    {% endif %}
  </nav>

  {% for post in paginator.posts %}
    <section class="NotesLayout-note">
      {% include note.html slug=post.slug content=post.content date=post.date size="small" tags=post.tags url=post.url %}
    </section>
  {% endfor %}

  <nav class="NotesLayout-nav">
    {% if paginator.next_page %}
      <a class="NotesLayout-navContent" href="{{ paginator.next_page_path | relative_url }}">View older notes</a>
    {%- else -%}
      <span class="NotesLayout-navContent">You've reached the end!</span>
    {% endif %}
  </li>
</div>
