---
layout: default
---

{%- assign category = page.categories.first -%}
{%- assign notes = site.categories[category] -%}
{%- for note in notes -%}
  {%- if note.url == page.url -%}
    {%- assign newerOffset = forloop.index0 | minus: 1 -%}
    {%- assign olderOffset = newerOffset | plus: 2 -%}
    {%- if forloop.first == false -%}
      {% assign newer_note = notes[newerOffset] -%}
    {%- endif -%}
    {%- if forloop.last == false -%}
      {%- assign older_note = notes[olderOffset] -%}
    {%- endif -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div class="NoteLayout">
  <nav class="NoteLayout-nav">
    <ol class="NoteLayout-navList">
      <li class="NoteLayout-navItem">
        <a class="NoteLayout-navItemContent" href={{ "/notes/" | relative_url }}>Notes</a>
      </li>
      <li class="NoteLayout-navItem NoteLayout-navItem--older">
        {%- if older_note -%}
          <a class="NoteLayout-navItemContent" href="{{ older_note.url | relative_url }}">Older</a>
        {%- else -%}
          <span class="NoteLayout-navItemContent">Older</span>
        {%- endif -%}
      </li>
      <li class="NoteLayout-navItem NoteLayout-navItem--newer">
        {%- if newer_note -%}
          <a class="NoteLayout-navItemContent" href="{{ newer_note.url | relative_url }}">Newer</a>
        {%- else -%}
          <span class="NoteLayout-navItemContent">Newer</span>
        {%- endif -%}
      </li>
    </ol>
  </nav>
  {% include note.html content=page.content date=page.date excerpt=page.excerpt mode="content" size="large" slug=page.slug tags=page.tags title=page.title url=page.url %}
</div>
