---
layout: default
---

<div class="NotesLayout">
  {%- comment -%}
    {%- if page.title -%}
      <div class="NotesLayout-title">{{ page.title }}</div>
    {%- endif -%}
  {%- endcomment -%}

  {{ content | markdownify }}

  <nav class="NotesLayout-nav">
    {% if paginator.previous_page %}
      <a class="NotesLayout-navContent" href="{{ paginator.previous_page_path | relative_url }}">View newer notes</a>
    {%- else -%}
      <span class="NotesLayout-navContent">Viewing the most recent notes</span>
    {% endif %}
  </nav>

  {% for note in paginator.posts %}
    <section class="NotesLayout-note">
      {% include note.html content=note.content date=note.date excerpt=note.excerpt mode="content" size="medium" slug=note.slug tags=note.tags title=note.title url=note.url %}
    </section>
  {% endfor %}

  <nav class="NotesLayout-nav">
    {% if paginator.next_page %}
      <a class="NotesLayout-navContent" href="{{ paginator.next_page_path | relative_url }}">View older notes</a>
    {%- else -%}
      <span class="NotesLayout-navContent">You've reached the end!</span>
    {% endif %}
  </nav>
</div>
