.ArchivesLayout {
  align-self: center;
  margin-inline: auto;
}

.ArchivesLayout-title {
  color: var(--ArchivesLayout-title-color);
  font-family: var(--ArchivesLayout-title-fontFamily);
  font-size: var(--ArchivesLayout-title-fontSize);
  font-style: var(--ArchivesLayout-title-fontStyle);
  font-weight: var(--ArchivesLayout-title-fontWeight);
  margin-block: var(--ArchivesLayout-title-marginBlock);
  margin-inline: var(--ArchivesLayout-title-marginInline);
}

.ArchivesLayout-entry,
.ArchivesLayout-note {
  margin-block: var(--space-m-l) 0;
}
