/* root */

:root {
  --anchor-link-color: var(--blue11);
  --anchor-link-onHover-color: var(--blue12);
  --anchor-visited-color: var(--blue8);
  --anchor-visited-onHover-color: var(--blue9);
}

/* Body */

.Body {
  --Body-backgroundColor: var(--slate1);
  --Body-color: var(--slate12);
}

/* Header */

.Header {
  --Header-height: var(--space-xl-2xl);
  --Header-name-fontFamily: var(--font-sans);
  --Header-name-fontSize: var(--step--1);
  --Header-name-fontWeight: 600;
  --Header-navListItem-fontFamily: var(--font-sans);
  --Header-navListItem-fontSize: var(--step--1);
  --Header-navListItem-fontWeight: 600;
  --Header-mobileNav-backgroundColor: var(--slate2);
  --Header-mobileNav-boxShadowColor: var(--slate2);
  --Header-mobileNav-color: var(--slate11);
  --Header-mobileNavListItem-boxShadowColor: var(--slate6);
}

/* ArchivesLayout */

/* Icon */

.Icon {
  --Icon-color: var(--slate9);
}

/* Tags */

.Tags {
  --Tags-detailsLink-borderRadius: 0.25em;
}

.ArchivesLayout {
  --ArchivesLayout-title-color: var(--slate8);
  --ArchivesLayout-title-fontFamily: var(--font-sans);
  --ArchivesLayout-title-fontSize: var(--step-0);
  --ArchivesLayout-title-fontStyle: normal;
  --ArchivesLayout-title-fontWeight: var(--font-weight-6);
  --ArchivesLayout-title-marginBlock : var(--space-l) 0;
  --ArchivesLayout-title-marginInline: 0;
}

/* EntryLayout */

.EntryLayout {
  --EntryLayout-title-color: var(--slate8);
  --EntryLayout-title-fontFamily: var(--font-sans);
  --EntryLayout-title-fontSize: var(--step-0);
  --EntryLayout-title-fontStyle: normal;
  --EntryLayout-title-fontWeight: var(--font-weight-6);
  --EntryLayout-title-marginBlock : var(--space-l) 0;
  --EntryLayout-title-marginInline: 0;
}

/* HomeLayout */

.HomeLayout {
  --HomeLayout-note-marginBlock: var(--space-s-m) 0;
  --HomeLayout-notes-nav-marginBlock: var(--space-m) 0;
  --HomeLayout-notes-navContent-backgroundColor: var(--slate3);
  --HomeLayout-notes-navContent-borderRadius: 0.25em;
  --HomeLayout-notes-navContent-color: var(--slate10);
  --HomeLayout-notes-navContent-cursor: default;
  --HomeLayout-notes-navContent-display: block;
  --HomeLayout-notes-navContent-fontSize: var(--step--2);
  --HomeLayout-notes-navContent-fontWeight: var(--font-weight-4);
  --HomeLayout-notes-navContent-letterSpacing: var(--letter-spacing-1);
  --HomeLayout-notes-navContent-link-backgroundColor: var(--blue3);
  --HomeLayout-notes-navContent-link-color: var(--blue10);
  --HomeLayout-notes-navContent-link-cursor: pointer;
  --HomeLayout-notes-navContent-link-onHover-backgroundColor: var(--blue3);
  --HomeLayout-notes-navContent-link-onHover-color: var(--blue10);
  --HomeLayout-notes-navContent-link-textDecoration: none;
  --HomeLayout-notes-navContent-paddingBlock: var(--space-2xs);
  --HomeLayout-notes-navContent-paddingInline: var(--space-s);
  --HomeLayout-notes-navContent-textAlign: center;
}

/* JournalLayout */

.JournalLayout {
  --JournalLayout-title-color: var(--slate8);
  --JournalLayout-title-fontFamily: var(--font-sans);
  --JournalLayout-title-fontSize: var(--step-0);
  --JournalLayout-title-fontStyle: normal;
  --JournalLayout-title-fontWeight: var(--font-weight-6);
  --JournalLayout-title-marginBlock : var(--space-l) 0;
  --JournalLayout-title-marginInline: 0;
}

/* Note */

.Note {
  --Note--sizeLarge-content-fontSize: var(--step-2);
  --Note--sizeLarge-content-maxWidth: 24em;
  --Note--sizeLarge-published-fontSize: var(--step--1);
  --Note--sizeLarge-published-fontWeight: var(--font-weight-4);

  --Note--sizeSmall-content-fontSize: var(--step--1);
  --Note--sizeSmall-content-maxWidth: 24em;
  --Note--sizeSmall-published-fontSize: var(--step--2);
  --Note--sizeSmall-published-fontWeight: var(--font-weight-4);

  --Note-content-anchor-link-color: var(--anchor-link-color);
  --Note-content-anchor-link-onHover-color: var(--anchor-link-onHover-color);
  --Note-content-anchor-visited-color: var(--anchor-visited-color);
  --Note-content-anchor-visited-onHover-color: var(--anchor-visited-onHover-color);

  --Note-content-color: var(--slate12);
  --Note-content-fontFamily: var(--font-serif);
  --Note-content-fontSize: var(--step-0);
  --Note-content-fontWeight: var(--font-weight-3);
  --Note-content-lineHeight: var(--line-height-5);
  --Note-content-maxWidth: 32em;

  --Note-published-color: var(--slate9);
  --Note-published-fontFamily: var(--font-sans);
  --Note-published-fontSize: var(--step--2);
  --Note-published-fontWeight: var(--font-weight-4);
  --Note-published-marginBlock: var(--space-2xs) 0;
  --Note-publishedLink-color: var(--slate9);
  --Note-publishedLink-onHover-color: var(--slate11);
  --Note-tags-fontSize: var(--step--2);
  --Note-tags-marginBlock: var(--space-2xs) 0;
  --Note-tags-maxWidth: 40em;
}

/* NoteLayout */

.NoteLayout {
  --NoteLayout-nav-color: var(--slate9);
  --NoteLayout-nav-cursor: default;
  --NoteLayout-nav-fontFamily: var(--font-sans);
  --NoteLayout-nav-fontSize: var(--step--2);
  --NoteLayout-nav-fontWeight: 800;
  --NoteLayout-nav-letterSpacing: 0.1em;
  --NoteLayout-nav-marginBlock: var(--space-2xs);
  --NoteLayout-nav-textTransform: uppercase;
  --NoteLayout-nav-userSelect: none;
  --NoteLayout-navItemContent-link-color: var(--anchor-link-color);
  --NoteLayout-navItemContent-link-onHover-color: var(--anchor-link-onHover-color);
  --NoteLayout-navItemContent-visited-color: var(--anchor-visited-color);
  --NoteLayout-navItemContent-visited-onHover-color: var(--anchor-visited-onHover-color);
  --NoteLayout-navList-gap: 1.0em;
  --NoteLayout-navList-marginBlock: var(--space-2xs) var(--space-2xs);
}

/* NotesLayout */

.NotesLayout {
  --NotesLayout-nav-marginBlock: var(--space-l) 0;
  --NotesLayout-navContent-backgroundColor: var(--slate3);
  --NotesLayout-navContent-borderRadius: 0.25em;
  --NotesLayout-navContent-color: var(--slate10);
  --NotesLayout-navContent-cursor: default;
  --NotesLayout-navContent-display: block;
  --NotesLayout-navContent-fontSize: var(--step--2);
  --NotesLayout-navContent-fontWeight: var(--font-weight-4);
  --NotesLayout-navContent-letterSpacing: var(--letter-spacing-1);
  --NotesLayout-navContent-link-backgroundColor: var(--blue3);
  --NotesLayout-navContent-link-color: var(--blue10);
  --NotesLayout-navContent-link-cursor: pointer;
  --NotesLayout-navContent-link-onHover-backgroundColor: var(--blue3);
  --NotesLayout-navContent-link-onHover-color: var(--blue10);
  --NotesLayout-navContent-link-textDecoration: none;
  --NotesLayout-navContent-paddingBlock: var(--space-xs);
  --NotesLayout-navContent-paddingInline: var(--space-s);
  --NotesLayout-navContent-textAlign: center;
  --NotesLayout-note-marginBlock: var(--space-m-l) 0;
  --NotesLayout-title-color: var(--slate8);
  --NotesLayout-title-fontFamily: var(--font-sans);
  --NotesLayout-title-fontSize: var(--step-0);
  --NotesLayout-title-fontStyle: normal;
  --NotesLayout-title-fontWeight: var(--font-weight-7);
  --NotesLayout-title-marginBlock: var(--space-l) 0;
  --NotesLayout-title-marginInline: 0;
}
