/* root */

:root {
  --anchor-link-color: var(--blue-11);
  --anchor-link-onHover-color: var(--blue-12);
  --anchor-visited-color: var(--blue-8);
  --anchor-visited-onHover-color: var(--blue-9);
}

/*******************************************************************************
 *                                                                             *
 * Shared Color Styles                                                         *
 *                                                                             *
 ******************************************************************************/

:root {
  --color-background-muted: var(--slate-3);
  --color-background-muted-onHover: var(--blue-3);
  /* --color-background-muted-onHover: var(--red-3); */

  --color-text-bright: var(--slate-12);
  /* --color-text-bright: var(--red-9); */

  --color-text-regular: var(--slate-11);
  /* --color-text-regular: var(--red-8); */

  --color-text-muted: var(--slate-10);
  /* --color-text-muted: var(--red-7); */

  --color-link-bright: var(--blue-10);
  --color-link-bright-onHover: var(--blue-9);
  /* --color-link-bright: var(--red-9); */
  /* --color-link-bright-onHover: var(--red-10); */

  --color-link-inherit: inherit;
  --color-link-inherit-onHover: var(--blue-9);
  /* --color-link-inherit-onHover: var(--red-10); */

}

/*******************************************************************************
 *                                                                             *
 * Shared Text Styles                                                          *
 *                                                                             *
 ******************************************************************************/

:root {

  /*
   * Large Body Text
   *
   * ArchivesLayout-content
   * ArticlesLayout-content
   * HomeLayout-content
   * JournalLayout-content
   * NotesLayout-content
   * Page-content
   */
  --TextStyle01-color: var(--color-text-bright);
  --TextStyle01-fontFamily: var(--font-serif);
  --TextStyle01-fontSize: var(--step-1);
  --TextStyle01-fontWeight: var(--font-weight-3);
  --TextStyle01-lineHeight: var(--line-height-5);
  --TextStyle01-link-color: var(--color-link-inherit);
  --TextStyle01-link-onHover-color: var(--color-link-inherit-onHover);

  /*
   * Medium Display Text
   *
   * Article-title
   * Entry-title
   */
  --TextStyle02-color: var(--color-text-bright);
  --TextStyle02-fontFamily: var(--font-serif);
  --TextStyle02-fontSize: var(--step-3);
  --TextStyle02-link-color: var(--color-link-inherit);
  --TextStyle02-link-onHover-color: var(--color-link-inherit-onHover);

  /*
   * Large Display Text
   *
   * Page-title
   */
  --TextStyle03-color: var(--color-text-bright);
  --TextStyle03-fontFamily: var(--font-serif);
  --TextStyle03-fontSize: var(--step-4);

  /*
   * Small Display Text
   *
   * Article-content h2
   * Entry-content h2
   * Page-content h2
   */
  --TextStyle04-color: var(--color-text-bright);
  --TextStyle04-fontFamily: var(--font-grotesque);
  --TextStyle04-fontSize: var(--step-2);
  --TextStyle04-fontWeight: var(--font-weight-5);
  --TextStyle04-lineHeight: var(--line-height-1);

  /*
   * Medium Body Text
   *
   * Article-content
   * Entry-content
   * Note-content
   */
  --TextStyle05-color: var(--color-text-bright);
  --TextStyle05-fontFamily: var(--font-serif);
  --TextStyle05-fontSize: var(--step-0);
  --TextStyle05-fontWeight: var(--font-weight-3);
  --TextStyle05-lineHeight: var(--line-height-5);

  /*
   * Meta Data Text
   *
   * Article-published
   * Entry-published
   * Note-published
   */
  --TextStyle06-color: var(--color-text-bright);
  --TextStyle06-fontFamily: var(--font-grotesque);
  --TextStyle06-fontSize: var(--step--2);
  --TextStyle06-fontWeight: var(--font-weight-3);
  --TextStyle06-link-color: var(--color-text-bright);
  --TextStyle06-link-onHover-color: var(--color-text-regular);

  /*
   * Tag Text
   *
   */
  --TextStyle07-color: var(--color-text-muted);
  --TextStyle07-fontFamily: var(--font-grotesque);
  --TextStyle07-letterSpacing: 0.025em;

  /*
   * HomeLayout-postCategoryText
   */
  --TextStyle08-color: var(--color-text-muted);
  --TextStyle08-fontFamily: var(--font-grotesque);

}
