.Tags {
  --Tags-details-color: var(--TextStyle07-color);
  --Tags-details-fontFamily: var(--TextStyle07-fontFamily);
  --Tags-details-letterSpacing: var(--TextStyle07-letterSpacing);
  --Tags-details-link--freq1-link-backgroundColor: var(--slate-3);
  --Tags-details-link--freq1-link-color: var(--slate-10);
  --Tags-details-link--freq1-link-onHover-backgroundColor: var(--blue-3);
  --Tags-details-link--freq1-link-onHover-color: var(--blue-10);
  --Tags-details-link--freq2-link-backgroundColor: var(--slate-4);
  --Tags-details-link--freq2-link-color: var(--slate-10);
  --Tags-details-link--freq2-link-onHover-backgroundColor: var(--blue-4);
  --Tags-details-link--freq2-link-onHover-color: var(--blue-10);
  --Tags-details-link--freq3-link-backgroundColor: var(--slate-5);
  --Tags-details-link--freq3-link-color: var(--slate-11);
  --Tags-details-link--freq3-link-onHover-backgroundColor: var(--blue-5);
  --Tags-details-link--freq3-link-onHover-color: var(--blue-11);
  --Tags-details-link--freq4-link-backgroundColor: var(--slate-6);
  --Tags-details-link--freq4-link-color: var(--slate-11);
  --Tags-details-link--freq4-link-onHover-backgroundColor: var(--blue-6);
  --Tags-details-link--freq4-link-onHover-color: var(--blue-11);
  --Tags-details-link--freq5-link-backgroundColor: var(--slate-7);
  --Tags-details-link--freq5-link-color: var(--slate-11);
  --Tags-details-link--freq5-link-onHover-backgroundColor: var(--blue-7);
  --Tags-details-link--freq5-link-onHover-color: var(--blue-11);
  --Tags-details-link-backgroundColor: var(--color-background-muted);
  --Tags-details-link-borderRadius: 0.25em;
  --Tags-details-link-color: var(--color-link-inherit);
  --Tags-details-link-onHover-backgroundColor: var(--color-background-muted-onHover);
  --Tags-details-link-onHover-color: var(--color-link-inherit-onHover);
  --Tags-details-link-paddingBlock: var(--space-3xs);
  --Tags-details-link-paddingInline: var(--space-2xs);

  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs-2xs);
  margin-inline: 0;
}

.Tags-term {
  display: none;
}

.Tags-details {
  color: var(--Tags-details-color);
  font-family: var(--Tags-details-fontFamily);
  letter-spacing: var(--Tags-details-letterSpacing);
  margin-block: 0 0;
  margin-inline: 0 0;
}

.Tags-details *:link,
.Tags-details *:visited {
  background-color: var(--Tags-details-link-backgroundColor);
  border-radius: var(--Tags-details-link-borderRadius);
  color: var(--Tags-details-link-color);
  display: block;
  padding-block: var(--Tags-details-link-paddingBlock);
  padding-inline: var(--Tags-details-link-paddingInline);
  text-decoration: none;
}

.Tags-details *:link:hover,
.Tags-details *:visited:hover {
  background-color: var(--Tags-details-link-onHover-backgroundColor);
  color: var(--Tags-details-link-onHover-color);
}

.Tags-details *[data-frequency="1"] {
  background-color: var(--Tags-details-link--freq1-link-backgroundColor);
  color: var(--Tags-details-link--freq1-link-color);
}

.Tags-details *[data-frequency="1"]:hover {
  background-color: var(--Tags-details-link--freq1-link-onHover-backgroundColor);
  color: var(--Tags-details-link--freq1-link-onHover-color);
}

.Tags-details *[data-frequency="2"] {
  background-color: var(--Tags-details-link--freq2-link-backgroundColor);
  color: var(--Tags-details-link--freq2-link-color);
}

.Tags-details *[data-frequency="2"]:hover {
  background-color: var(--Tags-details-link--freq2-link-onHover-backgroundColor);
  color: var(--Tags-details-link--freq2-link-onHover-color);
}

.Tags-details *[data-frequency="3"] {
  background-color: var(--Tags-details-link--freq3-link-backgroundColor);
  color: var(--Tags-details-link--freq3-link-color);
}

.Tags-details *[data-frequency="3"]:hover {
  background-color: var(--Tags-details-link--freq3-link-onHover-backgroundColor);
  color: var(--Tags-details-link--freq3-link-onHover-color);
}

.Tags-details *[data-frequency="4"] {
  background-color: var(--Tags-details-link--freq4-link-backgroundColor);
  color: var(--Tags-details-link--freq4-link-color);
}

.Tags-details *[data-frequency="4"]:hover {
  background-color: var(--Tags-details-link--freq4-link-onHover-backgroundColor);
  color: var(--Tags-details-link--freq4-link-onHover-color);
}

.Tags-details *[data-frequency="5"] {
  background-color: var(--Tags-details-link--freq5-link-backgroundColor);
  color: var(--Tags-details-link--freq5-link-color);
}

.Tags-details *[data-frequency="5"]:hover {
  background-color: var(--Tags-details-link--freq5-link-onHover-backgroundColor);
  color: var(--Tags-details-link--freq5-link-onHover-color);
}
