.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-inline: 0 0;
}

.Tags-term {
  display: none;
}

.Tags-details {
  margin-block: 0 0;
  margin-inline: 0 0;
}

.Tags-detailsLink,
.Tags-detailsLink:link,
.Tags-detailsLink:visited {
  background-color: var(--slate3);
  border-radius: var(--Tags-detailsLink-borderRadius);
  color: var(--slate10);
  display: block;
  font-family: var(--font-sans);
  padding-block: var(--space-3xs);
  padding-inline: var(--space-2xs);
  text-decoration: none;
}

.Tags-detailsLink:link:hover,
.Tags-detailsLink:visited:hover {
  background-color: var(--blue3);
  color: var(--blue10);
}
