.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-inline: 0 0;
}

.Tags--justifyBetween {
  justify-content: space-between;
}

.Tags--justifyBetween::after {
  content: "";
  flex: auto;
}

.Tags-term {
  display: none;
}

.Tags-details {
  margin-block: 0 0;
  margin-inline: 0 0;
}

.Tags-detailsLink {
  background-color: var(--Tags-detailsLink-backgroundColor);
  border-radius: var(--Tags-detailsLink-borderRadius);
  color: var(--Tags-detailsLink-color);
  display: block;
  font-family: var(--Tags-detailsLink-fontFamily);
  letter-spacing: var(--Tags-detailsLink-letterSpacing);
  padding-block: var(--Tags-detailsLink-paddingBlock);
  padding-inline: var(--Tags-detailsLink-paddingInline);
  text-decoration: none;
}

.Tags-detailsLink:link {
  color: var(--Tags-detailsLink-link-color);
}

.Tags-detailsLink:visited {
  color: var(--Tags-detailsLink-visited-color);
}

.Tags-detailsLink:link:hover {
  background-color: var(--blue-3);
  color: var(--Tags-detailsLink-link-onHover-color);
}

.Tags-detailsLink:visited:hover {
  background-color: var(--blue-3);
  color: var(--Tags-detailsLink-visited-onHover-color);
}

.Tags-detailsLink--freq1:link,
.Tags-detailsLink--freq1:visited {
  background-color: var(--Tags-detailsLink--freq1-link-backgroundColor);
  color: var(--Tags-detailsLink--freq1-link-color);
}

.Tags-detailsLink--freq1:link:hover,
.Tags-detailsLink--freq1:visited:hover {
  background-color: var(--Tags-detailsLink--freq1-link-onHover-backgroundColor);
  color: var(--Tags-detailsLink--freq1-link-onHover-color);
}

.Tags-detailsLink--freq2:link,
.Tags-detailsLink--freq2:visited {
  background-color: var(--Tags-detailsLink--freq2-link-backgroundColor);
  color: var(--Tags-detailsLink--freq2-link-color);
}

.Tags-detailsLink--freq2:link:hover,
.Tags-detailsLink--freq2:visited:hover {
  background-color: var(--Tags-detailsLink--freq2-link-onHover-backgroundColor);
  color: var(--Tags-detailsLink--freq2-link-onHover-color);
}

.Tags-detailsLink--freq3:link,
.Tags-detailsLink--freq3:visited {
  background-color: var(--Tags-detailsLink--freq3-link-backgroundColor);
  color: var(--Tags-detailsLink--freq3-link-color);
}

.Tags-detailsLink--freq3:link:hover,
.Tags-detailsLink--freq3:visited:hover {
  background-color: var(--Tags-detailsLink--freq3-link-onHover-backgroundColor);
  color: var(--Tags-detailsLink--freq3-link-onHover-color);
}

.Tags-detailsLink--freq4:link,
.Tags-detailsLink--freq4:visited {
  background-color: var(--Tags-detailsLink--freq4-link-backgroundColor);
  color: var(--Tags-detailsLink--freq4-link-color);
}

.Tags-detailsLink--freq4:link:hover,
.Tags-detailsLink--freq4:visited:hover {
  background-color: var(--Tags-detailsLink--freq4-link-onHover-backgroundColor);
  color: var(--Tags-detailsLink--freq4-link-onHover-color);
}

.Tags-detailsLink--freq5:link,
.Tags-detailsLink--freq5:visited {
  background-color: var(--Tags-detailsLink--freq5-link-backgroundColor);
  color: var(--Tags-detailsLink--freq5-link-color);
}

.Tags-detailsLink--freq5:link:hover,
.Tags-detailsLink--freq5:visited:hover {
  background-color: var(--Tags-detailsLink--freq5-link-onHover-backgroundColor);
  color: var(--Tags-detailsLink--freq5-link-onHover-color);
}
